<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<linkaccount>
			<curacao>
				<apiurl>https://exchangeweb.lacuracao.com:2007/ws1/restapi/ecommerce/</apiurl>
				<apikey>PROD-T8VtT5GgM7t97Ua</apikey>
				<phonewsdlurl>https://ws.serviceobjects.com/tv/TelephoneVerification.asmx?WSDL</phonewsdlurl>
				<licensekey>WS58-UYM3-JXS1</licensekey>
				<callerid>8664101611</callerid>
			</curacao>
		</linkaccount>
	</default>
</config>
