<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Dyode\AuditLog\Model\ResourceModel\AuditLog\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dyode_audit_log</argument>
            <argument name="resourceModel" xsi:type="string">Dyode\AuditLog\Model\ResourceModel\AuditLog</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dyode_audit_log_list_data_source" xsi:type="string">Dyode\AuditLog\Model\ResourceModel\AuditLog\Collection</item>
            </argument>
        </arguments>
    </type>
</config>