<?xml version="1.0" ?>
<!--
/**
 * Dyode_CheckoutAddressStep Magento2 Module.
 *
 * Adding new checkout step in the one page checkout.
 *
 * @package   Dyode
 * @module    Dyode_CheckoutAddressStep
 * @author    Rajeev K Tomy <rajeev.ktomy@dyode.com>
 * @copyright Copyright © Dyode
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Dyode_CheckoutAddressStep" setup_version="1.0.0">
		<sequence>
            <module name="Magento_Checkout"/>
			<module name="Dyode_DeliveryMethod" />
        </sequence>
	</module>
</config>
