<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="opc-block-summary" data-bind="blockLoader: isLoading">
    <span data-bind="i18n: 'Order Summary'" class="title"></span>
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
<div class="action-button">
  <button><span data-bind="i18n: 'Pay Now '"></span></button>
</div>
<div class="block-security">
  <div class="block-security-information">
    <p data-bind="i18n: 'By placing your order, you agree to '"></p>
    <p><span data-bind="i18n: 'Curacaos'"></span> <a href="#" data-bind="i18n: 'privacy notice '"></a> <span data-bind="i18n: 'and'"></span> <a href="#" data-bind="i18n: 'conditions of use '"></a></p>
  </div>
  <div class="block-secure-message">
    <p><span data-bind="i18n: 'Safe and Secure Payments. Easy returns. 100% Authentic products.'"></span></p>
  </div>
</div>
