/*Remove the default focus styling of select and input box*/
select, input {
  &:focus {
    box-shadow: none;
  }
}
/*Search block*/
.block-search {
  border: solid blue;
  width: 770px;
  float: left;
  padding-left: 30px;
  .minisearch {
    .field.search {
      .control {
        select#category_search_field, input#search {
          font-family: 'iCuracao-Light';
        }
      }
    }
  }
}
