<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dyode_AuditLog::audit_log" title="Audit Log" module="Dyode_AuditLog" sortOrder="30"
             action="auditlog/index/index" parent="Magento_Logging::system_magento_logging" resource="Dyode_AuditLog::audit_log"/>
    </menu>
</config>
