/*
*
*Product Listing Page Styling
*
*/
@light-gray-color: #888;
@gray-text: #333;
@orange-off: #ff4200;
@black: #000;
@white: #fff;
@icon-color: #666;
@icon-hover-color: #303030;
@theme-color:#97d700; //main class for PLP specific styling ans search result specific styling

.catalog-category-view,
.catalogsearch-result-index {
  .page-wrapper header.page-header {
    //  z-index: 1; //header z-index reduced for the overlay
  }

  .logo {
    @media screen and (max-width: 767px) {
      z-index: 1; //logo z-index reduced for the overlay
    }
  }

  input,
  select {
    &:focus {
      box-shadow: none;
    }
  }

  .nav-sections {
    margin-bottom: 25px;
  }
  //breadcrumbs styling
  .breadcrumbs {
    max-width: 1500px !important;
    margin-bottom: 25px;
    @media all and (min-width:768px){
      display: table;
    }

    .items {
      .item {
        font-family: 'iCuracao-Light';
        font-size: 14px;
        color: @black;

        a {
          font-family: 'iCuracao-Light';
          font-size: 14px;
          color: @black;
          text-transform: capitalize;

          &:active,
          &:hover,
          &:visited {
            color: @black;
            text-decoration: none;
          }
        }
        //current section
        strong {
          text-transform: capitalize;
          font-family: 'iCuracao-Regular';
        }

        &:after {
          font-size: 14px;
          content: '/';
        }

        &:last-child {
          &:after {
            content: '';
          }
        }
      }
    }
  }

  .page-main {
    max-width: 1500px !important;
    @media all and (max-width:767px) {
      margin-top: 157px !important;
    }
    //PLP banner styling for sektop and mobile version
    .categorybanner-container {
      margin-bottom: 25px;
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      .catgeorybanner-desktop {
        display: block;
        @media screen and (max-width: 767px) {
          display: none;
        }

        img {
          width: 100%;
        }
      }

      .catgeorybanner-mobile {
        display: none;
        @media screen and (max-width: 767px) {
          display: block;
        }

        img {
          width: 100%;
        }
      }
    }

    .columns {
      -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
      -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
      box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    }

    .category-view {
      .category-image {
        img {
          width: 100%;
        }
      }
    }

    .columns {
      margin: 0 0 30px;
      @media all and (max-width:767px) {
        padding-top: 0;
      }
      //Filter options styling
      .sidebar-main {
        .filter {
          .block-title {
            strong {
              &:before {
                @media all and (max-width:767px) {
                  content: '';
                }
              }
              @media all and (max-width:767px) {
                left: auto;
                right: 31px;
                top: 11px;
                padding: 0 10px;
                margin: 7px 15px 7px 0;
                border-radius: 0;
                font-size: 12px;
                line-height: 11px;
                font-family: 'iCuracao-Medium';
                color: @light-gray-color;
                border-right: 1px solid @light-gray-color;
                z-index: 0;
              }
            }
          }
        }

        .filter.active {
          .filter-title {
            &.block-title {
              border-bottom: none;

              strong {
                @media all and (max-width:767px) {
                  right: 3px;
                  top: 10px;
                  margin-right: 0;
                  border-right: none;
                }
                &:after{
                  line-height:16px !important;
                }
              }
            }

            strong {
              @media only screen and (max-width: 767px) {
                color: transparent;
              }

              &:before {
                @media only screen and (max-width: 767px) {
                  color: transparent;
                }
              }
            }
          }
        }

        .filter-options-item {
          border-bottom: none;
          padding-bottom: 0;
          @media screen and (max-width: 767px) {
            margin-bottom: 10px;
          }
          // more than six items , scroll will appear
          //  max-height: 270px;
          //  overflow-y: auto;
        }

        .block-title {
          strong {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: unset;

            span {
              @media screen and (max-width: 990px) {
                display: none;
              }
            }

            &:before {
              @media screen and (max-width: 990px) {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 22px;
                line-height: 28px;
                color: #757575;
                content: '\e611';
                font-family: 'luma-icons';
                margin: 0;
                vertical-align: top;
                display: inline-block;
                font-weight: normal;
                overflow: hidden;
                speak: none;
                text-align: center;
              }
            }
          }
        }

        .block-content {
          //filter content styling - selected filter section - Now shoppping by
          .filter-current {
            @media only screen and (max-width: 767px) {
              display: none;
            }

            ol.items {
              padding: 10px 10px 10px 25px;

              li.item {
                font-size: 14px;
                color: @icon-color;
                font-family: 'iCuracao-Light';

                span.filter-label {
                  text-transform: capitalize;
                }

                span.filter-value {}

                a.action.remove {
                  color: @icon-color;

                  &:hover {
                    color: @icon-hover-color;
                    text-decoration: underline;
                  }
                }
              }
            }
          }

          .filter-actions {
            padding-left: 25px;
            padding-bottom: 10px;
            margin: 0;
            border-bottom: 1px solid rgba(197, 197, 197, 0.21);
            //clear all link
            a.filter-clear {
              color: @icon-color;
              font-family: 'iCuracao-Light';

              &:hover {
                color: @icon-hover-color;
                text-decoration: underline;
              }
            }
          }
          //shop by and now shoppping by title styling
          .block-subtitle {
            font-family: 'iCuracao-Medium';
            font-weight: normal;
            font-size: 20px;
            color: @gray-text;
            margin-bottom: 0;
            border-bottom: 1px solid rgba(197, 197, 197, 0.21);
            padding: 19px 15px 13px;
            @media screen and (min-width: 768px) {
              padding: 25px;
            }
            @media screen and (max-width: 767px) {
              padding: 15px 0 0 15px;
              top: -6px;
              font-size: 18px;
              height: 55px;
            }
          }

          .filter-options {
            margin-top: 25px;
            @media screen and (max-width: 767px) {
              margin-top: 15px;
            }

            .filter-options-content,
            .filter-options-title {
              padding-left: 15px;
              @media screen and (min-width: 768px) {
                padding-left: 25px;
                padding-top: 0;
              }
              @media screen and (max-width: 767px) {
                padding-bottom: 0;
              }
            }

            .filter-options-title {
              font-size: 16px;
              color: @gray-text;
              font-family: 'iCuracao-Medium';
              font-weight: normal;
              word-break: break-word;
              @media all and (min-width:768px){
                margin: 0 0 10px;
              }

              &:after {
                @media all and (min-width:768px) {
                  display: none !important;
                }
              }
            }

            .filter-options-content {
              padding-bottom: 0;
              @media all and (min-width: 768px) {
                display: block !important;
              }

              ol {
                list-style: none;
                padding-left: 0;
                margin: 0 0 50px;
                max-height: 220px;
                overflow-y: auto;
                @media all and (min-width:768px){
                  margin: 0 0 30px;
                }

                .item {
                  margin: 3px 0 0;
                  @media screen and (max-width: 767px) {
                    margin: 10px 0 0;
                  }
                }
                @media screen and (max-width: 767px) {
                  margin: 0 0 30px;
                  max-height: inherit;
                }
              }

              ol::-webkit-scrollbar {
                width: 8px;
              }
              /* Track */
              ol::-webkit-scrollbar-track {
                box-shadow: inset 0 0 8px #ebebeb;
                background: #ebebeb;
                border-radius: 10px;
              }
              /* Handle */
              ol::-webkit-scrollbar-thumb {
                background: #d0d0d0;
                border-radius: 10px;
              }
              /* Handle on hover */
              ol::-webkit-scrollbar-thumb:hover {
                background: #d0d0d0;
              }
            }

            .filter-options-item {
              .item,
              .swatch-attribute-options {
                a {
                  color: @icon-color;
                  text-transform: capitalize;
                  font-size: 13px;
                  margin-left: 0;
                  margin-right: 0;
                  padding-left: 0;
                  padding-right: 0;
                  @media all and (max-width: 990px) {
                    font-size: 12px;
                  }
                }

                .input-container {
                  display: block;
                  &:after{
                    @media all and (min-width: 768px){
                      content: '';
                      display: table;
                      clear: both;
                    }
                  }
                }

                input[type="checkbox"] {
                  padding: 0;
                  height: initial;
                  width: initial;
                  margin-bottom: 0;
                  display: none;
                  cursor: pointer;
                }

                label {
                  position: relative;
                  cursor: pointer;
                  transition: all 0.2s;
                  font-family: 'iCuracao-Regular';
                  font-size: 14px;
                  width: 100%;
                  word-wrap: break-word;
                  @media all and (min-width:768px){
                    float: left;
                    font-size: 12px;
                    padding: 0 0 0 20px;
                  }

                  span {
                    color: @icon-color;
                    transition: all 0.2s;
                  }

                  &:before {
                    content: '';
                    -webkit-appearance: none;
                    background-color: transparent;
                    border: 1px solid @icon-color;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
                    padding: 6px;
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    cursor: pointer;
                    margin-right: 15px;
                    margin-top: -2px;
                    transition: all 0.2s;
                    @media all and (min-width:768px){
                      position: absolute;
                      left:0;
                      top:3px;
                      margin-right: 5px;
                    }
                  }
                }

                input[type="checkbox"]:checked {
                  +label {
                    color: @orange-off;
                    transition: all 0.2s;

                    span {
                      color: @orange-off;
                      transition: all 0.2s;
                    }

                    &:before {
                      border: 1px solid @orange-off;
                      transition: all 0.2s;
                    }

                    &:after {
                      content: '';
                      display: block;
                      position: absolute;
                      top: 1px;
                      left: 5px;
                      width: 3px;
                      height: 9px;
                      border: 1.5px solid @orange-off;
                      border-width: 0 1.5px 1.5px 0;
                      transform: rotate(45deg);
                      transition: all 0.2s;
                    }
                  }
                }
              }

              .swatch-attribute-options {
                margin: 5px 0 45px;
                @media all and (min-width:768px){
                  margin:5px 0 30px;
                }

                .each-color {
                  margin: 0 0 15px;
                  position:relative;
                  min-height: 15px;
                  @media all and (min-width:768px){
                    margin:0 0 9px;
                  }
                  .swatch-option-link-layered{
                    position: absolute;
                    top:0;
                    left:30px;
                    @media all and (max-width:767px){
                      top:6px;
                    }
                  }
                  .clr-name{
                    position: absolute;
                    top:4px;
                    left:50px;
                    font-family: 'iCuracao-Regular';
                    font-size: 14px;
                    @media all and (min-width:768px){
                      font-size:12px;
                      top:-1px;
                    }
                  }
                }

                a {
                  display: inline-block;
                  position: relative;
                  top: 12px;

                  .swatch-option {
                    min-width: 15px;
                    height: 15px;
                    margin: 0 5px 5px 0;

                    &.selected {
                      outline: 0;
                    }
                  }
                }

                label.labelcheckbox {
                  font-size: 0;
                }

                span {
                  font-family: 'iCuracao-Light';
                  position: relative;
                  top: 5px;
                  color: @icon-color;
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }

      .column {
        padding-bottom: 0;
        @media all and (min-width:768px) {
          border-left: 1px solid rgba(197, 197, 197, 0.21);
        }

        &:after {
          display: table;
          content: '';
          clear: both;
        }
        @media all and (max-width:767px) {
          padding-bottom: 0;
        }

        .page-title-wrapper {
          float: left;
          margin: 15px 15px 10px;
          width: ~"calc(100% - 180px)";
          @media screen and (min-width: 768px) {
            margin: 25px 25px 23px;
            width: ~"calc(100% - 337px)";
          }

          h1 {
            font-size: 20px;
            color: @gray-text;
            margin-bottom: 0;
            font-family: 'iCuracao-Regular';
            font-weight: normal;
            @media all and (max-width: 991px) {
              font-size: 18px;
            }
            @media all and (max-width: 767px) {
              font-size: 17px;
            }
          }
        }

        .toolbar {
          margin: 5px 0;
          @media screen and (min-width: 768px) {
            margin: 20px;
          }

          &.toolbar-products {
            float: right;

            .modes {
              &:last-child {
                @media all and (max-width: 990px) {
                  display: none;
                }
              }
              float: right !important;
              margin-right: 10px !important;
              margin-left: 15px !important;
              height: 30px;
              @media all and (max-width: 990px) {
                display: inline-block;
              }
              @media all and (max-width: 767px) {
                margin-left: 3px !important;
              }

              .modes-label {
                display: none !important;
              }

              .modes-mode {
                background: transparent !important;
                box-shadow: none !important;
                border: none !important;
                padding: 5px 10px;
                font-family: 'iCuracao-Medium';
                @media all and (max-width: 767px) {
                  padding: 5px 10px 0;
                }

                & > span {
                  border: 0 !important;
                  clip: rect(0, 0, 0, 0) !important;
                  height: 1px !important;
                  margin: -1px !important;
                  overflow: hidden !important;
                  padding: 0 !important;
                  position: absolute !important;
                  width: 1px !important;
                }

                &:before {
                  color: @light-gray-color;
                  @media (max-width: 767px) {
                    -webkit-font-smoothing: antialiased !important;
                    -moz-osx-font-smoothing: grayscale!important;
                    line-height: inherit !important;
                    content: '\e60d'!important;
                    vertical-align: middle !important;
                    display: inline-block !important;
                    overflow: hidden !important;
                    speak: none !important;
                    text-align: center !important;
                    padding: 11px 0 !important;
                    @media screen and (max-width: 767px) {
                      //  font-weight: normal !important;
                      //padding: 7px 10px 10px 5px !important;
                    }
                  }
                }

                &.active {
                  padding: 0 !important;

                  &:before {
                    content: '' !important;
                    padding: 0 !important;
                  }
                }

                &.mode-grid {
                  //  float: right;
                }
              }

              .mode-list:before {
                font-family: 'iCuracao-Medium';
                content: 'List' !important;
                font-size: 14px;
                @media all and (max-width: 767px) {
                  font-size: 12px;
                }
              }

              .mode-grid:before {
                font-family: 'iCuracao-Medium';
                content: 'Grid' !important;
                font-size: 14px;
                left: 8px;
                position: relative;
                @media all and (max-width: 767px) {
                  font-size: 12px;
                }
              }
            }

            .toolbar-amount {
              display: none;
            }

            .toolbar-sorter {
              @media all and (max-width:990px) {
                position: static;
                // padding: 7px 10px !important;
              }
              @media all and (max-width:767px) {
                position: relative;
                top: 13px;
                right: 39px;
              }

              label {
                font-family: 'iCuracao-Medium';
                color: @gray-text;
                font-size: 14px;
                @media all and (max-width:767px) {
                  color: @light-gray-color;
                  font-size: 12px;
                  font-size: 12px;
                  border-right: 1px solid #888;
                  border-top: 1px solid transparent;
                  padding: 0 10px;
                  margin: 0;
                  line-height: 11px;
                  display: block;

                  &:after {
                    //content: '|';
                    //margin-left: 8px;
                  }
                }
              }

              .overlay {
                display: none;
                position: fixed;
                height: 100vh;
                width: 100%;
                top: 0;
                left: 0;
                background-color: #00000096;

                .add-overlay {
                  display: block;
                }
              }

              .sorter-list-popup {
                position: fixed;
                width: 100%;
                left: 0;
                bottom: 0;
                background-color: white;
                height: auto;
                display: none;
                padding-bottom: 20px;
                @media all and (min-width:768px) {
                  display: none;
                }

                h3 {
                  color: #a5a5a5;
                  border-bottom: 1px solid #dedede;
                  font-weight: normal;
                  font-size: 18px;
                  padding: 15px;
                  margin: 0;
                  text-align: left;
                  text-transform: uppercase;
                  @media all and (max-width:767px) {
                    font-size: 16px;
                  }
                }

                a:not(.sorter-action) {
                  display: block;
                  color: @black;
                  padding: 10px 15px;
                  font-size: 16px;
                  font-weight: 600;
                  text-align: left;
                  text-decoration: none;
                  @media all and (max-width:767px) {
                    font-size: 14px;
                  }

                  &.selected {
                    color: #81b800;
                  }
                }
              }

              .sorter-options {
                box-shadow: none !important;
                border-radius: 3px;
                background: transparent url("../images/sorter-down-arrow.png") no-repeat 95% 50% !important;
                background-size: 11px !important;
                height: 28px;
                vertical-align: middle;
                font-size: 13px;
                padding: 4px 10px;
                color: rgba(158, 155, 155, 255);
                width:115px;
                font-family: 'iCuracao-Regular';
                @media all and (max-width:767px) {
                  display: none;
                }
              }

              .sorter-action {
                display: none;
              }
            }

            .filter-products {
              float: right;
              display: flex;
              margin-left: 20px;
              align-items: center;
              @media all and (max-width:767px) {
                display: none;
              }

              label {
                font-weight: 600;
                color: @black;
                width: 100px;
                margin-right: 10px;
              }

              select {
                width:115px;
                box-shadow: none !important;
                border-radius: 0;
                background: transparent url("../images/sorter-down-arrow.png") no-repeat 95% 50% !important;
                background-size: 10px !important;
                font-size: 14px;
                color: rgba(158, 155, 155, 255);
                &:active,&:hover{
                  outline:none !important;
                }
              }
            }
          }
        }
        //Product list block //
        .products {
          margin: 0;

          &.wrapper {
            .product-items {
              // -webkit-box-shadow: 0px 2px 15px 1px rgba(0,0,0,.1);
              // -moz-box-shadow: 0px 2px 15px 1px rgba(0,0,0,.1);
              // box-shadow: 0px 2px 15px 1px rgba(0,0,0,.1);
              border: 1px solid rgba(197,197,197,.21);
              clear: both;
              float: left;
              width: 100%;
              @media all and (min-width:768px) {
                border-left: none;
              }
              @media all and (max-width:767px) {
                border-bottom: none;
              }

              .product-item {
                border: 1px solid transparent;
                position: relative;
                margin: 0;
                //  min-height: 460px;
                //  border-bottom: 1px solid;
              }

              .product-item-info {
                margin: 0 auto;
                padding: 20px 10px;
                width: auto;

                &:active,
                &:hover {
                  box-shadow: none;
                  border: none;
                  background: transparent;
                  margin: 0 auto;
                  padding: 20px 10px;
                  position: static;
                }

                .price-off {
                  position: absolute;
                  left: 0;
                  top: 10px;
                  border: 1px solid @orange-off;
                  background-color: @orange-off;
                  z-index: 8;
                  color: @white;
                  padding: 5px;
                  font-size: 14px;
                  font-weight:700;
                  font-family: 'iCuracao-Regular';
                  @media all and (max-width:767px) {
                    left: 20px;
                    top: 20px;
                  }
                  @media all and (max-width:479px) {
                    font-size: 12px;
                    left: 0;
                    top: 10px;
                  }
                }

                .product-item-details {
                  .product-item-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    a {
                      font-size: 16px;
                      color: @black;
                      margin-bottom: 20px;
                      font-family: 'iCuracao-Medium';
                      text-transform: capitalize;
                      @media all and (max-width:767px) {
                        font-size: 14px;
                      }

                      &:hover {
                        text-decoration: none;
                      }
                    }
                  }
                  .product-reviews-summary{
                    display: none;
                  }

                  .price-box {
                    text-align: center;
                    .price-label {
                      display: none;
                    }

                    .price {
                      font-size: 18px;
                      color: @gray-text;
                      font-family: 'iCuracao-Medium';
                      font-weight: normal;
                      @media all and (max-width:767px) {
                        font-size: 15px;
                      }
                      sup{
    										top:-3px;
                        font-size: 75%;
                        @media all and (max-width:767px){
                          top:-3px;
                        }
    									}
                    }

                    .old-price {
                      margin-right: 5px;

                      .price {
                        font-size: 14px;
                        text-decoration: line-through;
                        color: #888888;
                        font-family: 'iCuracao-Regular';
                        @media all and (max-width:767px) {
                          font-size: 12px;
                        }
                      }
                    }
                  }

                  .product-item-inner,
                  .swatch-attribute {
                    display: none;
                  }
                }
              }
            }

            ~ .toolbar {
              width: 100%;
              margin: 0;
              position: relative;
              min-height: 60px;
              @media all and (min-width:768px) {
                border-bottom: 1px solid rgba(197,197,197,.21);
              }

              .pages {
                float: right;
                width: 100%;
                padding: 0 10px 0 100px;
                margin: 20px 0;
                @media all and (max-width: 479px) {
                  margin: 20px 0 0;
                  padding: 0 10px;
                }

                .items {
                  &.pages-items {
                    padding: 0;
                  }

                  .item {
                    text-transform: uppercase;
                    font-family: 'iCuracao-Light';
                    margin: 0 15px 0 0;

                    a {
                      color: @black;
                      font-family: 'iCuracao-Light';

                      &.link {
                        color: #006bb4;
                        text-decoration: none !important;
                      }
                    }

                    &.pages-item-next,
                    &.pages-item-previous {
                      position: static;
                    }

                    &.pages-item-next {
                      margin-right: 0;
                    }
                  }

                  strong.page {
                    border-radius: 100%;
                    width: 30px;
                    line-height: 30px;
                    color: white;
                    background: #81b800;
                  }
                }
              }

              .filter-products,
              .modes {
                display: none !important;
              }

              .limiter {
                position: absolute;
                top: 7px;
                float: left;
                width: 100px;
                //  margin-top: -44px;
                padding-left: 10px;
                margin: 20px 0;
                display: block !important;
                text-align: left;
                @media all and (max-width: 479px) {
                  padding: 0 10px;
                  margin: 10px 0 20px;
                  position: static;
                  width: 100%;
                  text-align: center;
                }

                .control,
                .limiter-text,
                label {
                  display: none;
                }

                .page-indicator {
                  font-family: 'iCuracao-Light';
                  font-size: 13px;
                  color: @black;
                }
              }
            }
          }

          &.products-grid {
            .product-items {
              display: block;
              //  border-bottom: none;
              border-bottom: 1px solid rgba(197,197,197,.21) !important;
            }

            .product-item {
              display: inline-block;
              width: 25%;
              @media all and (max-width:1024px) {
                padding-left: 0;
                 width: 33.33%;
              }
              @media all and (max-width:767px) {
                 width: 50%;
                border-bottom: 1px solid rgba(197,197,197,.21) !important;
                border-right: 1px solid rgba(197,197,197,.21) !important;
              }

              &:nth-child(even) {
                @media all and (max-width:767px) {
                  border-right: 1px solid transparent;
                }
              }

              .product-image-container {
                .product-image-wrapper {
                  @media all and (max-width:767px) {
                    z-index: 0;
                  }

                  .product-image-photo {
                    max-width: 85%;
                    transition: all 0.2s;

                    &:hover {
                      transform: scale(1.1);
                      transition: all 0.2s;
                    }
                  }
                }
                @media all and (max-width:990px) {
                  width: 100% !important;
                }
              }

              .product-item-info {
                @media all and (max-width: 479px) {
                  width: 100% !important;
                }

                .product-item-details {
                  text-align: center;
                  @media all and (max-width: 767px){
                    min-height:70px;
                  }
                  @media all and (max-width: 375px){
                    min-height:68px;
                  }
                  @media all and (max-width: 342px){
                    min-height:83px;
                  }
                }

                .price-box {
                  text-align: center;
                  margin: 12px 0;
                  .price-discount{
                    display: none;
                  }

                  .old-price {
                    margin-right: 15px;
                  }
                }
              }
            }
          }

          &.products-list {
            .product-item-photo {
              @media all and (max-width:767px) {
                display: block !important;
                width: 125px !important;
                box-sizing: border-box;
              }

              .product-image-wrapper {
                @media all and (max-width:767px) {
                  z-index: -2;
                }
              }
            }

            .product-item-description {
              width: 50%;
              margin: 25px 0;
              color: @light-gray-color;
              @media all and (max-width:990px) {
                display: none;
              }

              ul {
                font-size: 12px;
                color: @light-gray-color;
                list-style: disc;
                padding-left: 15px;

                li {
                  font-size: 12px;
                  color: @light-gray-color;
                  list-style: disc;
                  margin-bottom: 0;
                }
              }
            }

            .emi-stat {
              position: absolute;
              right: 0px;
              top: 50px;
              width: 190px;
              font-size: 14px !important;
              @media all and (max-width:990px) {
                position: static;
                width: 100%;
                margin: 10px 0 0;
              }
              @media all and (max-width:479px) {
                font-size: 12px !important;
              }
              @media all and (max-width:345px) {
                font-size: 11px !important;
              }
            }

            .product-items {
              .product-item {
                display: block;
                border-bottom: 1px solid rgba(197, 197, 197, 0.21);
                padding-left: 0;

                &:last-child {
                  border-bottom: none;
                  @media all and (max-width:767px) {
                    border-bottom: 1px solid rgba(197,197,197,.21) !important;
                  }
                }

                .product-item-info {
                  display: flex;
                  width: 100% !important;

                  .price-off {
                    top:0;
                    left:0;
                  }

                  .product-item-photo {
                    padding: 0;
                    width: 240px;
                    .product-image-wrapper{
                      max-width: 85%;
                      margin: 0 auto;
                    }
                  }

                  .product-item-details {
                    position: relative;
                    width: ~"calc(100% - 240px)";
                    padding: 0;
                    @media all and (max-width:767px) {
                      display: block !important;
                      padding-left: 20px;
                      width: ~"calc(100% - 125px)";
                    }

                    .product-item-name {
                      width: 70%;
                      margin: 0 0 10px;
                      @media all and (max-width:1200px) {
                        width: 60%;
                      }
                      @media all and (max-width:990px) {
                        width: 100%;
                      }

                      a {
                        font-size: 18px;
                        color: @black;
                        @media all and (max-width:990px) {
                          font-size: 16px;
                        }
                      }
                    }

                    .price-box {
                      position: absolute;
                      right: 20px;
                      top: 0;
                      margin: 0;
                      width: 170px;
                      text-align: left;
                      font-family: "iCuracao-Regular";
                      @media all and (max-width:990px) {
                        position: static;
                        width: 100%;
                      }

                      .price {
                        color: @gray-text;
                        font-weight: normal;
                        font-family: "iCuracao-Medium";
                        @media all and (max-width:767px){
                          font-size: 16px;
                        }
                        sup{
      										top:-4px;
                          font-size: 75%;
                          @media all and (max-width:767px){
                            top:-3px;
                          }
      									}
                      }

                      .special-price-block{
                        position: relative;
                        .old-price {
                          font-size: 14px;
                          font-weight: normal;
                          position: absolute;
                          top: 20px;
                          left: 1px;
                          @media all and (max-width:767px){
                            font-size: 14px;
                          }
                        }

                        .old-price,
                        .special-price {
                          width: 100%;
                          float: left;
                        }

                        .special-price{
                          margin-bottom: 25px;
                        }

                        .price-discount{
                          position: absolute;
                          left: 70px;
                          top:25px;
                          color:@theme-color;
                        }
                      }

                      .old-price {
                        .price {
                          color: #888888;
                          font-weight: normal;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .emi-stat {
          color: @black;
          font-family: 'iCuracao-Medium';
          font-weight: normal;
          font-size: 14px;
          @media all and (max-width:1024px) {
            font-size: 12px;
          }
          @media all and (max-width: 375px) {
            font-size: 11px;
          }

          span {
            color: #81b800;
          }
        }
        //End product list block
      }
    }

    .sidebar-main {
      padding-right: 0 !important;
      //  border-right: 1px solid rgba(197, 197, 197, 0.21);
      #layered-filter-block {
        margin-bottom: 0;
      }
    }
  }
}

.catalogsearch-result-index {
  .message.notice{
    .columns{
    margin-top: 80px;
    }
  }
  ul.search__result-tabs {
    border-bottom: none;
  }

  .page-main > .page-title-wrapper .page-title {
    font-family: 'iCuracao-Medium';
    font-weight: normal;
    font-size: 24px;
    margin: 20px 0;
  }
}

#layer-product-list {
  dl {
    &.block {
      display: none;
    }
  }
}

.catalog-category-view {
  @media all and (min-width:768px) and (max-width:1024px) {
    .breadcrumbs {
      margin-top: 106px;
    }

    main#maincontent {
      margin-top: 0 !important;
    }
  }
}
