/************************************************************
* @package Dyode
* @module  Dyode_curacao
* @theme  Curacao
* @author  Sangeetha D <sangeetha.d@dyode.com>
* PARTIAL - COMMON STYLING REVIEWS RATING PRODUCT
****************************************************************/

.product-reviews-summary {
  margin-top: 10px;
  float: none;
  @media all and (max-width: 901px) {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .rating-summary{
    margin-right: 10px;
    .rating{
      background: @box-orange;
      color: @white;
      padding: 0 3px;
      &:after {
        content: "";
        background-image: url(../images/star.png);
        background-repeat: no-repeat;
        display: inline-block;
        height: 10px;
        margin: 4px;
        overflow: hidden;
        width: 10px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        vertical-align: top;
        text-align: center;
      }
    }
  }
  .reviews-actions{
    a{
      color: @content-light-grey;
      text-decoration: none;
    }
  }
}
