<div id="shipping-method-product-listing" data-bind="foreach: getProductItems()">
    <div class="shipping-method-product-item">
        <h2><span data-bind="i18n: 'Order Details '"></span>(<span data-bind="text: $index() + 1"></span>)</h2>
        <div>
            <div class="shipping-method-product-image">
              <img data-bind="attr: {'src': product_image_url}, src: product_image_url" />
            </div>
            <div class="shipping-method-product-details">
              <h4 data-bind="text: product_name"></h4>
              <h5 data-bind="text:product_price"></h5>
              <h6 data-bind="text: product_qty"></h6>
            </div>
        </div>
    </div>
</div>
<p data-bind="text: console.log(getItems())"></p>
<p data-bind="text: console.log(getTotals())"></p>
