/*for mobile style*/

@font-face {
  font-family: 'HKGrotesk';
  src: url('../fonts/hkgrotesk/HKGrotesk-Regular.eot');
  src: url('../fonts/hkgrotesk/HKGrotesk-Regular.eot?#iefix') format('eot'), url('../fonts/hkgrotesk/HKGrotesk-Regular.woff2') format('woff2'), url('../fonts/hkgrotesk/HKGrotesk-Regular.woff') format('woff'), url('../fonts/hkgrotesk/HKGrotesk-Regular.ttf') format('truetype'), url('../fonts/hkgrotesk/HKGrotesk-Regular.svg#HKGrotesk') format('svg');
  font-weight: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('../fonts/hkgrotesk/HKGrotesk-Bold.eot');
  src: url('../fonts/hkgrotesk/HKGrotesk-Bold.eot?#iefix') format('eot'), url('../fonts/hkgrotesk/HKGrotesk-Bold.woff2') format('woff2'), url('../fonts/hkgrotesk/HKGrotesk-Bold.woff') format('woff'), url('../fonts/hkgrotesk/HKGrotesk-Bold.ttf') format('truetype'), url('../fonts/hkgrotesk/HKGrotesk-Bold.svg#HKGrotesk') format('svg');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'HKGrotesk', Arial, Helvetica, sans-serif;
}

div {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
}

ul {
  list-style: none;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .page-header {
    margin-top: -1vh;
    height: 6vh;
    position: relative;
    overflow: hidden;
    background: #97d700;
    box-shadow: 0 5px 0 #97d700;
    padding: 10px 0px 5px 0px;
    text-align: center;
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .header-image {
    width: 40%;
    margin: 1vh 0;
  }
  #landing-phone{
    margin: 1vh 0;
  }
#loader div {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#loader img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100px;
}
#loader span {
  font-family: arial;
  font-size: 12px;
  display: block;
  text-align: center;
  line-height: 18px;
}
.footer-phone{
  position: absolute;
  margin: 1vh 0;
  width: 100%;
  overflow: hidden;
  background: #97d700;
  color: #ffffff;
  padding: 2vw;
  text-align: center;
}
.phone-number{
  vertical-align: middle;
}
.footer-image{
   vertical-align: middle;
 }
 .phone-number{
   margin-left: 1vw;
   text-decoration: underline;
   font-size: 1.375em;
   font-weight: bold;
 }
 .page-footer{
  width: 100%;
  height: 8vh;
  position: fixed;
  bottom: 0;
  background-color: #97d700;
}
.preapp-page-footer1{
  width: 100%;
  height: 6vh;
  position: absolute;
  background: #008ecf;
  bottom: 0;
}
.preapp-page-footer2{
  width: 100%;
  height: 6vh;
  background: #97d700;
}
.preapp-footer-phone{
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #ffffff;
    padding: 2vw;
    text-align: center;
} 
  a[href^="tel:"] {
    color: #ffffff;
    text-decoration: underline;
  }
  .language-switch {
    color: #ffffff;
    font-weight: bold;
    float: right;
    margin-top: -3vh;
    margin-right: 1vh;
    font-size: 0.8em;
  }
  .alert{
    display: inline-block;
    width: 100%;
    font-family: arial;  
    position: relative;
    font-size: 0.75em;
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border: 1px solid transparent;
    border-radius: 1vw;
    text-align: center;
  }
  .error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  #pa-bc {
    display: none;
  }
  #content-right {
    float: right;
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
  }
  #title1 {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    font-family: arial;
    color: #008ecf;
  }
  #title2 {
    display: none;
  }
  #title3 {
    line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
    color: #f26722;
    margin: 15px;
  }
  .stepnumber {
    margin-left: 15px;
    font-size: 17px;
    font-weight: bold;
    font-family: arial;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 50%;
    background: #92c039;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    line-height: 10px;
  }
  #step1, #step2, #step3 {
    font-size: 16px;
    font-family: arial;
    color: #3c3c3c;
    position: relative;
    overflow: hidden;
    padding: 5px;
    line-height: 8px;
  }
  #authbox {
    border: solid 1px #FFFFFF;
    border-radius: 7px;
    /*background: #ffc800;*/
    padding: 10px 20px;
    /*-webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);*/
    margin: 10px 0px;
  }
  #auth {
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
    padding: 0px 0px 10px 0px;
  }
  #terms {
    margin-top: 60px;
    font-size: 11px;
    font-family: arial;
    color: #3c3c3c;
    text-align: center;
  }
  #step0-submit {
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    color: #FFFFFF;
    background: #f26722;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
  .breadcrumbs {
    display: none;
  }
  .category_page_links_text {
    padding: 0px 7px;
  }
  .wrapper_apply {
    width: 990px;
    margin: auto;
    color: #878a8e !important;
  }
  .page-title {
    margin-bottom: 20px;
    padding: 0 0 10px;
    background: #fff;
    border-bottom: 1px solid #cfcfcf;
  }
  #applysplit {
    width: 100%;
    height: auto;
    border: none;
  }
  .preapproved {
    width: 48%;
    height: 380px;
    float: left;
    padding-right: 1%;
    border-right: 1px solid #cfcfcf;
  }
  .applynow {
    width: 48%;
    padding-left: 1%;
    height: 380px;
    float: right;
  }
  .code {
    width: 275px;
    height: 30px;
    margin-top: 20px;
  }
  .code input[type="text"] {
    width: auto;
    height: 30px;
    line-height: 30px;
    float: left;
    border: 1px #008ecf solid;
    border-radius: 2px;
    padding-left: 5px;
    outline: none;
    -webkit-appearance: none;
  }
  .code .button {
    float: left;
  }
  #applysplit .button {
    background: none repeat scroll 0 0 #ffc507;
    color: #3d4b51;
    border: 0 none;
    cursor: pointer;
    height: 34px !important;
    font-weight: bold;
    line-height: 34px;
    margin: 0 1px 0 0;
    overflow: visible;
    padding: 0 5px;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .code .input2, .input4, .input6 {
    float: left;
    margin-right: 5px;
  }
  .preapproved img {
    float: left;
  }
  .preapproved .applyform {
    float: left;
    width: 275px;
    margin-left: 10px;
    margin-top: 32px;
  }
  .applynow .applyinfo {
    padding-top: 10px;
  }
  h2.legend {
    color: #f3661f;
    text-transform: none;
  }
  .applynow #credit_card {
    float: left;
  }
  .applynow .benefits {
    float: left;
    width: 300px;
  }
  .applynow .benefits ul {
    padding: 0 0 10px; // fix style actual page
  }
  .applynow .benefits .button {
    float: right;
  }
  .pdf-downloads {
    font-size: 12px;
    text-align: right;
    float: right;
  }
  a {
    color: #008ecf;
    text-decoration: underline;
  }
}

/*for desktop style*/

@media only screen and (min-width: 1025px) {
  .page-header {
    position: relative;
    overflow: hidden;
    background: #97d700;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
  }
  .desktop-only {
    display: inline;
  }
  .header-image {
    margin-left: 35px;
  }
  .header-right {
    margin-top: 16px;
    float: right;
    margin-right: 35px;
  }
  .header-text {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5em;
  }
  .header-phone {
    font-weight: bold;
    color: #ffc800;
    font-size: 1.5em;
  }
  .language-switch {
    color: #ffffff;
    font-weight: bold;
    float: right;
    margin-top: 5px;
  }
  .mobile-only {
    display: none
  }
  .link_icons_wrapper {
    width: auto;
    height: auto;
    float: left;
  }
  #loader {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-Index: 9999997;
    top: 0;
    left: 0;
    position: fixed;
  }
  #loader div {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  #loader img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100px;
  }
  #loader span {
    font-family: arial;
    font-size: 12px;
    display: block;
    text-align: center;
    line-height: 18px;
  }
  .breadcrumbs li {
    /* display: inline; */
    float: left;
    margin-bottom: 10px;
  }
  .breadcrumbs {
    margin-bottom: 10px;
    text-align: left;
    float: left;
  }
  .main {
    margin: 0 0 10px;
    min-height: 350px;
    /* background-image: url(../images/bkg_cols.gif); */
    background-color: #fff;
    background-repeat: repeat-y;
    /* border: 1px solid #cfcfcf; */
    text-align: left;
    clear: both;
  }
  .col-main {
    float: none;
    width: 990px;
    margin: 0px auto;
    padding: 0 0 20px;
  }
  .category_page_links, .category_page_links a, .category_page_links_text, .category_page_links img {
    width: auto;
    height: 35px;
    line-height: 2.5;
    float: left;
    color: #ffffff;
    background: #008ed0;
    text-align: center;
  }
  .alert{
    display: inline-block;
    width: 100%;
    font-family: arial;  
    position: relative;
    font-size: 1em;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
  }
  .error{
    line-height: 1.5;
    margin-top: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  #pa-bc {
    margin-top: 20px;
  }
  #contentright {
    float: right;
    width: 400px;
    padding: 10px;
  }
  #title1 {
    margin-top: 5px;
    font-size: 48px;
    font-weight: bold;
    font-family: arial;
    color: #008ecf;
  }
  #title2 {
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
    font-family: arial;
    color: #008ecf;
  }
  #title3 {
    line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
    color: #f26722;
    margin: 5px;
  }
  #preback {
    position: relative;
    overflow: hidden;
    background: #FFFFFF url('/ci_media/images/preapprove/accept_back.jpg') no-repeat 0px 0px;
    height: 560px;
    width: 981px;
    padding: 15px;
  }
  .stepnumber {
    font-size: 22px;
    font-weight: bold;
    font-family: arial;
    color: #FFFFFF;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #92c039;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    line-height: 17px;
  }
  #step1, #step2, #step3 {
    font-size: 22px;
    font-family: arial;
    color: #3c3c3c;
    position: relative;
    overflow: hidden;
    padding: 5px;
    line-height: 22px;
  }
  #authbox {
    border: solid 1px #FFFFFF;
    border-radius: 7px;
    /*background: #ffc800;*/
    padding: 10px 20px;
    /*-webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);*/
    margin: 10px 0px;
  }
  #auth {
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
    padding: 0px 0px 10px 0px;
  }
  #submitbutton {
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    color: #FFFFFF;
    background: #f26722;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
  #terms {
    margin-top: 5px;
    font-size: 12px;
    font-family: arial;
    color: #3c3c3c;
    text-align: center;
  }
  #step0-submit {
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    color: #FFFFFF;
    background: #f26722;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
  .termlinks {
    color: #008ecf;
    text-decoration: underline;
  }
  .termlinks:hover {
    color: #008ecf;
    text-decoration: none;
  }
  #pcode {
    width: 200px !important;
    text-transform: uppercase;
    font-size: 16px;
  }
  #inputholder {
    text-align: center;
  }
  .category_page_links_text {
    padding: 0px 7px;
  }
  .wrapper_apply {
    width: 990px;
    margin: auto;
    color: #878a8e !important;
  }
  .page-title {
    margin-bottom: 20px;
    padding: 0 0 10px;
    background: #fff;
    border-bottom: 1px solid #cfcfcf;
  }
  #applysplit {
    width: 100%;
    height: auto;
    border: none;
  }
  .preapproved {
    width: 48%;
    height: 380px;
    float: left;
    padding-right: 1%;
    border-right: 1px solid #cfcfcf;
  }
  .applynow {
    width: 48%;
    padding-left: 1%;
    height: 380px;
    float: right;
  }
  .code {
    width: 275px;
    height: 30px;
    margin-top: 20px;
  }
  .code input[type="text"] {
    width: auto;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    float: left;
    border: 1px #008ecf solid;
    border-radius: 2px;
    padding-left: 5px;
    outline: none;
    -webkit-appearance: none;
  }
  .code .button {
    float: left;
  }
  #applysplit .button {
    background: none repeat scroll 0 0 #ffc507;
    color: #3d4b51;
    border: 0 none;
    cursor: pointer;
    height: 34px !important;
    font-weight: bold;
    line-height: 34px;
    margin: 0 1px 0 0;
    overflow: visible;
    padding: 0 5px;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .code .input2, .input4, .input6 {
    float: left;
    margin-right: 5px;
  }
  .preapproved img {
    float: left;
  }
  .preapproved .applyform {
    float: left;
    width: 275px;
    margin-left: 10px;
    margin-top: 32px;
  }
  .applynow .applyinfo {
    padding-top: 10px;
  }
  h2.legend {
    color: #f3661f;
    text-transform: none;
  }
  .applynow #credit_card {
    float: left;
  }
  .applynow .benefits {
    float: left;
    width: 300px;
  }
  .applynow .benefits ul {
    padding: 0 0 10px; // fix style actual page
  }
  .applynow .benefits .button {
    float: right;
  }
  .pdf-downloads {
    font-size: 12px;
    text-align: right;
    float: right;
  }
  a {
    color: #008ecf;
    text-decoration: underline;
  }
}

@media screen and (max-width: 990px) {
  .wrapper_apply {
    width: 100%;
    height: auto
  }
  .preapproved, .applynow {
    float: none;
    width: 100%;
    border: none;
  }
  .preapproved h2, .applynow h2 {
    /*over rule css rules that are weird*/
    margin: auto;
    height: auto;
    line-height: auto;
    background: none;
    color: none;
    font-size: 22px;
    font-weight: normal;
    padding: auto;
  }
}

@media screen and (max-width:480px) {
  .preapproved, .applynow {
    text-align: center;
    height: auto;
    padding-bottom: 60px;
  }
  .preapproved img {
    float: none;
  }
  .preapproved .applyform {
    float: none;
    margin: 10px auto;
  }
  .applynow {
    float: none;
    text-align: center;
  }
  .applynow #credit_card {
    float: none;
  }
  .applyinfo .benefits {
    float: none;
    text-align: center;
    width: 190px;
    margin: 10px auto;
  }
  .applyinfo .benefits ul {
    text-align: left;
  }
  .applynow .benefits .button {
    float: none;
  }
  .pdf-downloads {
    font-size: 12px;
    text-align: center;
    float: none;
  }
}