/*for mobile display*/

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  html, body {
    margin: 0px;
    padding: 0px;
  }
  #preapp-content {
    width: 100%;
    position: relative;
    margin: 20px 0px 20px 0px;
  }
  #preapp-top {
    position: relative;
    overflow: hidden;
  }
  #preapp-saying {
    float: left;
    font-family: arial;
    font-size: 0.7em;
    font-weight: bold;
    color: #f26722;
    margin: 0px 0px;
  }
  input[type='text'] {
    width: 100%;
  }
  select {
    width: 100%;
    box-shadow: none;
    box-sizing: border-box;
  }
  label {
    padding-top: 5px;
    color: #A3A5A9;
  }
  #btnSubmit {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    background: rgb(242, 103, 34);
    color: #FFFFFF;
    border-radius: 10px;
    width: 90%;
    margin: 1vh auto;
    border: 0;
    font-size: 1.5em;
    height: 7vh;
    display: block;
  }
  #preapp-edit {
    float: right;
    font-family: arial;
    font-size: 12px;
    color: blue;
    cursor: pointer;
  }
  .preapp-hr {
    height: 1px;
    background-color: gray;
    margin: 10px 0px;
  }
  .preapp-label {
    display: block;
    text-align: left;
    padding-right: 5px;
    font-size: 13px;
    font-family: arial;
    line-height: 20px;
  }
  #fname, #lname, #address, #city, #state, #zip {
    display: block;
    color: gray;
    margin: 0px 0px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  select {
    background-color: #FFFFFF;
  }
  #ssn, #ssn1, #ssn2, #ssn3 {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  .preapp-required {
    color: red;
    font-size: 13px;
    font-family: arial;
    line-height: 20px;
  }
  #ssnformat {
    display: block;
    height: 30px;
    font-family: arial;
    font-size: 12px;
    line-height: 22px;
  }
  #mm {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #dd {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #yyyy {
    display: block;
    width: 70px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #prim1 {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #prim2 {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #prim3 {
    display: block;
    width: 70px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #sec1 {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #sec2 {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #sec3 {
    display: block;
    width: 70px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #submit1 {
    float: right;
    background: #f26722;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
  }
  #preapp-fieldset {
    border: none;
    width: 100%;
    padding: 0;
  }
  #preapp-header {
    color: #008ecf;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    margin: 0px 0px 10px 0px;
  }
  #preapp-submit-holder {
    position: relative;
    overflow: hidden;
  }
  #preapp-error {
    line-height: 32px;
    display: block;
    color: red;
    float: right;
    font-family: arial;
    font-size: 13px;
    padding: 0px 10px 0px 0px;
  }
  .loading-image {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 100000000;
  }
  .cartOverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999999;
  }
  .pdf-downloads {
    margin-top: 5%;
  }
  .preapp-label-checkbox {
    display: block;
    margin: 0px 0px 5px 10px;
    padding-left: 15px;
    text-indent: -15px;
    margin-top: 3%;
  }
  .preapp-checkbox {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0px 8px 0px 0px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;
    background: #FFFFFF;
  }
}

/*for desktop display*/

@media only screen and (min-width: 1025px) {
  html, body {
    margin: 0px;
    padding: 0px;
  }
  #preapp-content {
    background: transparent url('/ci_media/images/preapprove/back.jpg') no-repeat 0px 0px;
    width: 990px;
    height: 590px;
    position: relative;
    margin-top: 25px;
  }
  #preapp-top {
    position: relative;
    overflow: hidden;
  }
  #preapp-saying {
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    color: #f26722;
    margin: 0px 0px;
  }
  #preapp-edit {
    float: right;
    font-family: arial;
    font-size: 12px;
    color: blue;
    cursor: pointer;
  }
  .preapp-hr {
    height: 1px;
    background-color: gray;
    margin: 10px 0px;
  }
  .preapp-label {
    float: left;
    width: 180px;
    text-align: right;
    padding-right: 5px;
    font-size: 13px;
    font-family: arial;
    line-height: 20px;
  }
  #fname, #lname, #address, #city, #state, #zip {
    display: block;
    width: calc(100% - 200px);
    color: gray;
    margin: 0px 0px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  select {
    background-color: #FFFFFF;
  }
  .ssn {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  .preapp-required {
    color: red;
    font-size: 13px;
    font-family: arial;
    line-height: 20px;
  }
  #ssnformat {
    display: block;
    height: 30px;
    font-family: arial;
    font-size: 12px;
    line-height: 22px;
  }
  #mm {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #dd {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #yyyy {
    display: block;
    width: 70px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #prim1 {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #prim2 {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #prim3 {
    display: block;
    width: 70px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #sec1 {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #sec2 {
    float: left;
    width: 60px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #sec3 {
    display: block;
    width: 70px;
    margin: 0px 5px 5px 0px;
    border-radius: 2px;
    border: 1px solid #008ecf;
    padding: 3px;
  }
  #btnsubmit {
    float: right;
    background: #f26722;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
  }
  #preapp-fieldset {
    border: none;
    width: 500px;
    position: absolute;
    right: 20px;
    top: 75px;
  }
  #preapp-header {
    color: #008ecf;
    font-size: 50px;
    font-weight: bold;
    font-family: arial;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  #preapp-submit-holder {
    position: relative;
    overflow: hidden;
  }
  #preapp-error {
    line-height: 32px;
    display: block;
    color: red;
    float: right;
    font-family: arial;
    font-size: 13px;
    padding: 0px 10px 0px 0px;
  }
  .pdf-downloads {
    margin-top: 10px;
  }
  .preapp-label-checkbox {
    display: block;
    margin: 0px 0px 5px 10px;
    padding-left: 15px;
    text-indent: -15px;
    margin-left: 15%;
    margin-top: 3%;
  }
  .preapp-checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0px 8px 0px 0px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;
    background: #FFFFFF;
  }
}

a {
  color: #4ebcdf;
  text-decoration: underline;
  cursor: pointer;
}

/*.question {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #9b9b9b;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
}*/