<!--
/**
 * Dyode_Checkout Module
 *
 * Extending Magento_Checkout core module
 *
 * @module    Dyode_Checkout
 * @author    Rajeev K Tomy <rajeev.ktomy@dyode.com>
 * @copyright Copyright © Dyode
 */
-->
<div id="curacao-verify-modal" class="linkaccount-container" data-bind="afterRender: initiateCuracaoVerifyModal"
     style="display:none;">
    <div class="linkaccount-inner-container">
        <div class="verifymsg"></div>

        <div class="wrapper clearfix">

            <!--Verification code entry form-->
            <div class="verify-phone">
                <form class="verifyform"
                      data-bind="attr: {id: verifyform}"
                      method="post"
                      autocomplete="off">
                    <fieldset class="fieldset verify-wrapper">
                        <legend class="legend"><span data-bind="i18n: 'Verify Account by Phone'"></span>:</legend>
                        <br/>
                        <p class="confirm-acct"
                           data-bind="i18n: 'To confirm your account, we will send you a security code.'"></p>
                        <p data-bind="Please select one of the following options."></p>

                        <!--Buttons to choose from sms verification or call verification-->
                        <div class="contact-wrapper">
                            <button id="sendtext" name="sendtext" value="Text"
                                    data-bind="i18n: 'SMS', click: sendSMSCode"></button>
                            <div class="contact-icon1">
                                <img data-bind="attr: {src: smsIconUrl}" alt="sms icon"/>
                            </div>
                            <button id="voice" data-bind="i18n: 'Voice', click: placeCall"></button>
                            <div class="contact-icon2">
                                <img data-bind="attr: {src: callIconUrl}" alt="call icon"/>
                            </div>
                        </div>

                        <div class="sms-sending-in-progress" data-bind="if: phoneVerificationStatus">
                            <span data-bind="i18n: 'Verification is in progress. Please wait a moment...'"></span>
                        </div>

                        <div class="sms-success-msg" data-bind="if: curacaoUserPhoneNumber">
                            <span data-bind="i18n: 'Please enter the code that sent to your phone number: '"></span>
                            <span data-bind="text: curacaoUserPhoneNumber"></span>
                        </div>

                        <div class="sms-error-msg" data-bind="if: curacaoUserPhoneStatus">
                            <!-- ko i18n:
                                'Unfortunately, we could not successfully send verification code to your phone.'
                            --><!-- /ko -->
                            <!-- ko i18n: 'Please try other verification options available.'--><!-- /ko -->
                        </div>

                        <!--Input validation code-->
                        <div class="field required" data-bind="if: curacaoUserPhoneNumber">
                            <div class="control">
                                <input type="number"
                                       name="curacao-verification-code"
                                       class="input-text required"
                                       data-bind="value: verificationCodeInpValue,
                                            attr: {placeholder: 'Enter Verification Code',id:'curacaoVerifyCode'"}
                                />
                            </div>
                        </div>
                    </fieldset>
                    <!--Submit form-->
                    <div class="actions-toolbar" data-bind="if: curacaoUserPhoneNumber">
                        <div class="primary">
                            <button type="submit"
                                    class="action submit primary"
                                    data-bind="attr: {title: $t('Verify Account')}, click: verifyCode">
                                <span data-bind="i18n: 'Verify Account'"></span>
                            </button>
                        </div>
                    </div>
                    <div class="disclaimer">
                        <p data-bind="i18n: 'If you don\'t recognize the number on file, please call 877-287-2226'"></p>
                    </div>
                </form>
            </div>

            <!--Divider between 2 forms-->
            <div class="or-spacer">
                <span><i data-bind="i18n: 'or'"></i></span>
            </div>

            <!--Personal information form-->
            <div class="personal-infm">
                <form class="pinfm"
                      autocomplete="off"
                      data-bind="attr: {id: personalInfoForm}">
                    <fieldset class="fieldset">
                        <legend class="legend"><span data-bind="i18n: 'Verify Personal Information'"></span>:</legend>
                        <br/>
                        <p>
                            <!-- ko i18n: 'To confirm your account, please complete' --><!-- /ko --><br/>
                            <!-- ko i18n: 'the following information.' --><!-- /ko -->
                        </p>
                        <div class="field ssn-field">
                            <label for="curacao-ssn-verify" class="label">
                                <span data-bind="i18n: 'Enter Last 4 Digits of your SSN'"></span>
                            </label>
                            <div class="control">
                                <span class="ssn-number" data-bind="text: 'XXX-XX-'"></span>
                                <input id="curacao-ssn-verify"
                                       type="number"
                                       name="curacao-ssn-verify"
                                       class="input-text ssn-field required validate-number"
                                       maxlength="4"
                                       minlength="4"
                                       data-bind="value: ssnVerifyInpValue"
                                />
                            </div>
                        </div>
                        <div class="field">
                            <label for="curacao-date-of-birth" class="label">
                                <span data-bind="i18n: 'Date of Birth'"></span>
                            </label>
                            <div class="control">
                                <input type="text"
                                       class="input-text required"
                                       id="curacao-date-of-birth"
                                       name="curacao-date-of-birth"
                                       data-bind="value: dateOfBirthInpValue, attr: {placeholder: $t('Enter Date of Birth')}"
                                />
                            </div>
                        </div>
                        <div class="field">
                            <label for="curacao-zip-code" class="label"><span
                                    data-bind="i18n: 'Zipcode'"></span></label>
                            <div class="control">
                                <input id="curacao-zip-code"
                                       type="text"
                                       name="curacao-zip-code"
                                       class="input-text required validate-zip-us"
                                       data-bind="value: zipCodeInpValue, attr: {placeholder: $t('Enter Zipcode')}"
                                />
                            </div>
                        </div>
                        <div class="field">
                            <label for="curacao-maiden-name" class="label">
                                <span><!-- ko i18n: "Mother's Maiden Name" --><!-- /ko --></span>
                            </label>
                            <div class="control">
                                <input id="curacao-maiden-name"
                                       type="text"
                                       name="curacao-maiden-name"
                                       class="input-text required letters-only"
                                       data-bind="value: maidenNameInpValue, attr: {placeholder: $t('Enter Mother\'s Maiden name')}"
                                />
                            </div>
                        </div>
                    </fieldset>

                    <!--Submit form-->
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button type="button"
                                    class="action submit primary"
                                    data-bind="attr: {title: $t('Submit')}, click: verifyCuracaoAccount">
                                <span data-bind="i18n: 'Verify account'"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
