<!--
/**
 * Dyode_CheckoutDeliveryMethod Magento2 Module.
 *
 * Add a new checkout step in checkout
 *
 * @package   Dyode
 * @module    Dyode_CheckoutDeliveryMethod
 * @copyright Copyright © Dyode
 */
-->

<li data-bind="fadeVisible: isVisible, attr: { id: stepCode }">

    <div id="checkout-step-title"
         class="step-content"
         data-role="content">
        <div class="step-title" data-role="title">
            <span data-bind="i18n: 'How do you want to get your order?'"></span>
        </div>

        <!-- Product listing along with delivery methods -->
        <div class="delivery-method-product-listing" data-bind="foreach: productList()">
            <div class="delivery-method-product-item-container">

                <!-- Product Details -->
                <h2>
                    <span data-bind="i18n: 'Order Details '"></span>(<span data-bind="text: $index() + 1"></span>)
                </h2>

                <div class="delivery-method-product-item">
                    <div class="delivery-method-product-image">
                        <img data-bind="attr: {src: productImageUrl, alt: productName}"/>
                    </div>

                    <div class="delivery-method-product-details">
                        <h4 class="product-name" data-bind="text: productName"></h4>

                        <h5 class="product-price">
                            <span data-bind="text: productPrice"></span>
                        </h5>

                        <h6 class="product-qty">
                            <!-- ko i18n: 'Quantity' --><!-- /ko -->:
                            <span data-bind="text: quoteQty"></span>
                        </h6>
                    </div>
                </div>

                <!-- Delivery Options -->
                <div class="delivery-methods-options">
                    <h4><span data-bind="i18n: 'Select delivery option'"></span></h4>

                    <!-- Radio Button: Ship To Home -->
                    <div class="radio-button">
                        <input type="radio"
                               data-bind="attr: {name: deliveryRadioInputName, id: deliveryRadioInputShipId},
                                    checked: deliveryRadioShipChecked,
                                    value: deliveryRadioShip,
                                    event:{change: $parent.onDeliveryOptionChange}"
                        />
                        <label class="label"
                               data-bind="i18n: 'Ship to home',
                                    attr:{for: deliveryRadioInputShipId}">

                        </label>
                    </div>

                    <!-- Radio Button: Store Pickup -->
                    <div class="radio-button">
                        <input type="radio"
                               data-bind="attr: {name: deliveryRadioInputName, id: deliveryRadioInputStoreId},
                                    checked: deliveryRadioStoreChecked,
                                    value: deliveryRadioStore,
                                    event:{change: $parent.onDeliveryOptionChange}"
                        />
                        <label class="label"
                               data-bind="i18n: 'Store Pickup', attr:{for: deliveryRadioInputStoreId}"
                        >
                        </label>
                    </div>

                    <!-- ZIP Code Form -->
                    <form class="form"
                          data-bind="attr:{'data-parent': quoteItemId, 'data-hasrequired': $t('* Required Fields'), id:zipFormId},
                                fadeVisible: showZipForm"
                    >
                            <div class="error-message" data-bind="fadeVisible: showZipFormError">
                            <span data-bind="i18n: 'Zip code provided is invalid'"></span>
                        </div>

                        <div class="store-pickup-pincode">
                            <input type="number"
                                   data-bind="value: zipInpValue,
                                        attr: {placeholder: $t('Enter Zipcode'), id: zipInp, name: zipInp}"
                            onKeyPress="if(this.value.length==5) return false;" />
                        </div>

                        <div class="add-store-sec">
                            <button type="button" class="action" data-bind="event:{click:$parent.selectStore}">
                                <span data-bind="i18n: 'Search'"></span>
                            </button>
                        </div>
                    </form>

                    <!-- Display Selected Store -->
                    <div data-bind="attr: {id: storeDisplaySectionId}, fadeVisible: showStoreSelectedSection">
                        <div class="storeDisplayDetails">
                            <div class="left">
                                <img data-bind="attr: {src: currentSelectedStore().image, alt: currentSelectedStore().title}" />
                            </div>
                            <div class="right">
                                <div class="title" data-bind="text: currentSelectedStore().title"></div>
                                <div class="address" data-bind="text: currentSelectedStore().street"></div>
                                <div class="cityAbbrZip" data-bind="text: currentSelectedStore().cityAbbrZip"></div>
                            </div>
                            <div class="change-store-sec">
                                <button type="button" class="action" data-bind="event:{click:$parent.changeStore.bind($parent)}">
                                    <span data-bind="i18n: 'Change'"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Store pickup modal -->
                    <div data-bind="attr: {id: storePickupModalId, 'data-parent': quoteItemId},
                                style: {display: 'none'},
                                afterRender: $parent.initiatePickupModal"
                    >

                            <!-- Change zip input form -->
                            <div class="store-zipcode-outer" data-bind="visible: showZipInputModalForm()">
                                <form>
                                    <label data-bind="attr: {for: storePickupModalFormInp}, i18n: 'Enter your zip code:'"></label>
                                    <input type="text"
                                           name="zipCode"
                                           data-bind="value: zipInpValue, attr: {id: storePickupModalFormInp}"
                                    />
                                    <button class="search"
                                            data-bind="i18n: 'Search', click: $parent.selectStore"
                                    ></button>
                                </form>
                            </div>

                            <!-- Modal error message -->
                            <div class="error-message"
                                 data-bind="fadeVisible: storeResponseError()"
                            >
                                <span data-bind="i18n: 'We cannot find stores against the given zip code. Please try again.'"></span>
                            </div>

                            <!-- Modal Stores Content -->
                            <div class="modal-body-content" data-bind="fadeVisible: !storeResponseError()">
                                <div class="store-zipcode-outer" data-bind="visible: !showZipInputModalForm()">
                                    <label data-bind="text: currentStoreModal().zipCode"></label>
                                    <button class="change"
                                            data-bind="i18n: 'Change', click: $parent.changeZipCode"
                                    ></button>
                                </div>

                                <h4 data-bind="html: transformStoreModalHeading()"></h4>

                                <div class="avail-store-outer" data-bind="foreach: currentStoreModal().storeInfo.items">
                                    <div class="avail-store-item">
                                        <div class="avail-store-image">
                                            <img data-bind="attr: {src: image}"/>
                                            <p class="store-distance" data-bind="text: miles"></p>
                                        </div>
                                        <div class="avail-store-details">
                                            <form>
                                                <ul>
                                                    <li class="store-location" data-bind="text: address.title"></li>
                                                    <li data-bind="text: address.street"></li>
                                                    <li data-bind="text: address.city"></li>
                                                    <li data-bind="text: address.phone"></li>
                                                    <li><button data-bind="i18n: 'Select', click: $parent.selectStore.bind($parent)"></button></li>
                                                </ul>
                                                <input type="hidden" name="productId" data-bind="value: $parent.productId" />
                                                <input type="hidden" name="quoteItemId" data-bind="value: $parent.quoteItemId" />
                                                <input type="hidden" name="storeId" data-bind="value: id" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
