@import "_var";

//Common styling for ACCORDION
.accordion-container {
  .accordion-content {
    margin: 20px 0;

    .accordion-item {
      &:last-child {
        border-bottom: none!important;
      }
      //common styles for accordion-title
      .accordion-title {
        border-top: 1px solid @faq-border-color;
        color: @faq-color;
        cursor: pointer;
        padding: 18px 36px 18px 18px;
        text-align: left;
        outline: none;
        font-size: 18px !important;
        transition: 0.4s;
        position: relative;
        font-family: 'iCuracao-Regular';
        @media all and (max-width: 767px) {
          font-size: 14px;
        }

        &:after {
          content: '\002B';
          color: @faq-color;
          font-family: 'iCuracao-Medium';
          position: absolute;
          right: 18px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 24px;
          transition: all 0.5s;
          @media all and (max-width: 767px) {
            font-size: 17px;
          }
        }

        &.active {
          color: @curacao-green;
          transition: all 0.5s;
        }

        &.active:after {
          content: "\2212";
          color: @curacao-green;
          transition: all 0.5s;
        }
      }

      .interest-title {
        @media all and(max-width: 767px) {
          font-size: 15px !important;
        }

        &.active {
          color: @curacao-red !important;
        }

        &.active:after {
          color: @curacao-red !important;
        }
      }

      .price-title {
        @media all and(max-width: 767px) {
          font-size: 15px !important;
        }
      }
      //Styling for drop-down panel in accordion
      .accordion-panel {
        padding: 0 20px;
        display: none;

        img {
          width: 100%;
        }

        p {
          font-family: 'iCuracao-Light';
          color: @black;
          font-size: 14px !important;
          margin: 0;
          line-height: 24px;
        }

        ul {
          margin: 0;
          padding-left: 20px;
          list-style-type: disc;
          @media all and (max-width: 767px) {
            width: 100%;
          }

          li {
            position: relative;
            color: black;
            font-size: 14px;
            margin-bottom: 0;
            @media all and (max-width: 767px) {
              width: 100%;
            }

            &:before {
              position: absolute;
              left: -20px;
              content: '';
              background-image: url("../images/list-style.png");
              margin-right: 10px;
              display: inline-block;
              vertical-align: text-top;
              width: 20px;
              height: 20px;
            }
          }
        }
      }

      .alternate {
        ul {
          li {
            color: @curacao-red !important;
          }
        }
      }

      div.accordion-panel.show-accordion {
        max-height: 1920px;
        padding-bottom: 20px!important;
        padding-left: 20px;
        @media all and(max-width: 767px) {
          padding-bottom: 20px;
        }
        @media all and (max-width: 420px) {
          padding-left: 10px;
        }
      }
    }
  }

  .rem-content {
    margin: 0;
    border: 1px solid #efefef;
    padding: 0 15px;
    @media all and(max-width: 425px) {
      border: 1.5px solid #efefef;
      padding: 0 8px;
    }

    .accordion-item {
      .alt-accordion {
        padding: 25px 45px 15px 20px;
        text-align: left;
        font-size: 16px;
        color: #333333;
        border-top: 1px solid #efefef;
        @media all and(max-width: 425px) {
          padding: 15px 30px 15px 10px;
          font-size: 15px;
        }

        &.active {
          color: @curacao-green;
          background-color: white;
          border-bottom: none;
        }

        h4 {
          margin: 0;
          font-weight: 400;
          font-size: 16px;
          font-family: 'iCuracao-Regular';
        }
      }

      .first {
        border-top: 0 !important;
      }

      .alt-panel {
        .panel-content {
          padding: 0;
          @media all and(max-width: 767px) {
            padding: 0 0 0 15px;
          }
          @media all and(max-width: 425px) {
            padding: 0 0 0 15px;
          }

          .left {
            display: flex;
            @media all and(max-width: 425px) {
              display: unset;
            }

            ul {
              margin: 5px 20px 20px 0;
              @media all and(max-width: 425px) {
                margin-top: 0;
                line-height: 1.5;
              }

              li {
                font-size: 15px;
                font-weight: lighter;
                color: black;
                @media all and(max-width: 375px) {
                  font-size: 13px;
                }
              }
              @media all and(max-width: 767px) {
                padding: 0;
                margin-right: 0;
                margin-bottom: 0;
              }
              @media all and(max-width: 330px) {
                margin-right: 0;
              }
            }
          }
        }
        //Styling for common paragraphs
        .text-light {
          margin: 0;
          font-family: 'iCuracao-Light';
          color: @black !important;
          font-size: 14px;
          line-height: 24px;

          a {
            color: @curacao-green;
            word-break: break-all;
          }

          span {
            font-weight: 500;
          }
        }

        .final {
          padding-top: 20px;
        }
        //common styles for contents in lists format
        .service {
          font-family: 'iCuracao-Light';
          color: @black;

          .inline {
            display: inline-flex;
            margin-top: 10px;

            p {
              background: @curacao-green;
              margin: 0;
              padding: 8px 20px;
              color: @white!important;
              @media all and(max-width: 767px) {
                padding: 10px;
              }
              @media all and(max-width: 425px) {
                padding: 5px;
              }
            }

            p:nth-child(2) {
              background: none;
              color: #676767 !important;
              border: 1px solid #efefef;
            }
          }

          ul {
            color: @curacao-green !important;
            line-height: 24px !important;
            margin: 10px 0 15px;
            padding-left: 17px;
            @media all and(max-width: 767px) {
              padding: 0 15px;
              margin: 16px 0;
            }
          }

          li {
            font-size: 14px;
            width: 100%;
            @media all and(max-width: 425px) {
              font-size: 14px !important;
            }

            span {
              color: @black !important;
            }
          }

          .delivery {
            @media all and(max-width: 425px) {
              font-size: 14px;
            }
          }
        }
        //info class separates the content from the rest
        .info {
          margin-top: 15px;
          font-family: 'iCuracao-Light';

          b {
            font-family: 'iCuracao-Regular';
            font-weight: 400 !important;
          }
        }
        //reference class changes the font-color
        .reference {
          color: #a6a6a6 !important;
          font-weight: normal;
        }
      }
    }
  }
}

.beat-container {
  .accordion-panel {
    .show-accordion {
      padding-left: 20px!important;
      @media all and(max-width: 425px) {
        padding-left: 20px!important;
      }
      @media all and(max-width: 767px) {
        padding-left: 20px!important;
      }
    }
  }
}

.beat-container {
  .accordion-container .accordion-content .accordion-item .accordion-panel ul {
    padding-left: 15px!important;
    @media all and(max-width: 425px) {
      padding-left: 25px!important;
    }
  }

  .card-img {
    max-width: 400px;
  }
}

.beat-inner-ul {
  padding: 0 !important;
}

.cms-price-beat-container {
  div.accordion-panel.show-accordion {
    @media all and(max-width: 420px) {
      padding-left: 20px !important;
    }
  }
}
