@footer-background: #f1f1f1;

footer {
  &.page-footer {
    background-color: @footer-background;
    padding: 40px 40px 0;
    margin-top: 0;
    @media all and (max-width:1024px) {
      padding: 15px;
    }

    .footer {
      max-width: 1500px;
      margin: 0 auto;
      border: none;
      padding: 0;
      //Footer link styling
      .custom-footer-links {
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        display: flex;
        @media all and (max-width: 1024px) {
          display: block;
        }
        @media all and (max-width: 1024px) {
          padding: 0;
        }

        .footer-block {
          flex: 1;
          @media all and (max-width: 1024px) {
            display: block;
            float: none;
            width: 100%;
            min-height: auto;
          }

          h3 {
            font-family: 'iCuracao-Medium';
            font-weight: 300;
            font-size: 16px;
            color: #333333;
            margin-bottom: 35px;
            margin-top: 0;
            @media all and (max-width: 1024px) {
              margin: 0;
              padding-left: 0;
              padding-right: 0;
            }
          }

          .footer-block-links {
            ul {
              list-style: none;
              padding: 0;

              li {
                padding: 0 0 7px;
                line-height: 22px;

                a {
                  font-family: 'iCuracao-Regular';
                  text-decoration: none;
                  color: #333333;
                  font-size: 14px;
                }
              }
            }
          }
        }
        //End Footer link styling
        //Accordian styling for footer links -  mobile view
        .accordion {
          cursor: pointer;
          padding: 18px;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.4s;

          &:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            font-size: 24px;
            margin-left: 5px;
            margin-top: -6px;
          }

          &.active:after {
            content: "\2212";
          }
        }

        .panel {
          padding: 0 18px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
        }
        //End Accordian styling for footer links -  mobile view
      }
      //News letter styling
      .subscribe-block {
        clear: both;
        width: 100%;
        float: left;
        margin-top: 35px;

        .block.newsletter {
          text-align: right;
          margin-bottom: 0;

          @media all and (max-width: 1024px) {
            width: 100%;
          }

          .title {
            display: block;
            text-align: left;
            font-family: 'iCuracao-Light';
            color: #333333;

            strong {
              font-weight: 500;
              font-size: 14px;
            }
          }

          .content {
            position: relative;
            padding: 0;

            form {
              margin-top: 0;
              display: inline-block;
              position: relative;
              display: block;

              .newsletter {
                text-align: left;
                margin: 0;

                label {
                  font-family: 'iCuracao-Light';
                  color: #333333;
                }

                .control {
                  &::before {
                    display: none;
                  }

                  input {
                    margin-top: 0;
                    font-family: 'iCuracao-Regular';
                    padding: 11px 93px 10px 10px;
                    background-color: #e7e7e7;
                    color: #333333;
                    height: 37px;
                    border: none;
                    border-radius: 2px 0 0 2px;

                    ::-webkit-input-placeholder {
                      /* Chrome/Opera/Safari */
                      font-family: 'iCuracao-Light';
                      color: #a6a6a6;
                      line-height: 1;
                    }

                    ::-moz-placeholder {
                      /* Firefox 19+ */
                      font-family: 'iCuracao-Light';
                      color: #a6a6a6;
                      line-height: 1;
                    }

                    :-ms-input-placeholder {
                      /* IE 10+ */
                      font-family: 'iCuracao-Light';
                      color: #a6a6a6;
                      line-height: 1;
                    }

                    :-moz-placeholder {
                      /* Firefox 18- */
                      font-family: 'iCuracao-Light';
                      color: #a6a6a6;
                      line-height: 1;
                    }

                    &:focus {
                      outline: none;
                      box-shadow: none;
                    }
                    @media all and (max-width: 767px) {
                      width: 100%;
                    }
                  }
                }
              }

              .actions {
                position: absolute;
                right: 0;
                top: 0;
                display: block;
                width: auto;

                button {
                  border: none;
                  background-color: #81b800;
                  height: 37px;
                  color: white;
                  padding: 10px 15px;
                  border-radius: 0 2px 2px 0;
                  font-weight: normal;

                  span {
                    font-family: 'iCuracao-Light';
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
      //End News letter styling
      //Trust factor
      .trust-factor-block {
        clear: both;
        width: 100%;
        float: left;

        .trust-factor {
          display: flex;
          max-width: 1500px;
          margin: 0 auto;
          text-align: center;
          margin-top: 35px;
          border: solid 1px #dedede;
          @media all and (max-width: 991px) {
            display: block;
            border-left: none;
            border-right: none;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
          }

          .trust-image {
            flex: 1;
            border-right: solid 1px #dedede;
            padding: 15px 0;
            @media all and (max-width: 991px) {
              border-right: none;
              border-bottom: solid 1px #dedede;
              padding-left: 20px;
              padding-right: 20px;
            }
            @media all and (max-width:479px) {
              padding: 15px 0;
            }

            img {
              @media all and (max-width: 767px) {
                width: 30px;
              }
            }

            .content {
              text-align: left;
              margin-left: 20px;
              display: inline-block;
              padding: 0;
              @media all and (max-width: 1160px) {
                margin-left: 5px;
              }

              p {
                margin: 0;

                &.title {
                  font-family: 'iCuracao-Regular';
                  font-size: 17px;
                  color: #333333;
                  text-transform: uppercase;
                  @media all and (max-width: 1160px) {
                    font-size: 15px;
                  }
                  @media all and (max-width: 991px) {
                    font-size: 16px;
                  }
                  @media all and (max-width:479px) {
                    font-size: 14px;
                  }
                }

                &.comment {
                  font-size: 15px;
                  font-family: 'iCuracao-Medium';
                  color: #999999;
                  margin-top: 5px;
                  @media all and (max-width: 1160px) {
                    font-size: 13px;
                  }
                  @media all and (max-width: 991px) {
                    font-size: 14px;
                  }
                  @media all and (max-width:479px) {
                    font-size: 12px;
                  }
                }
              }
            }
          }

          div.why-shop.trust-image {
            border-right: none;
            @media all and (max-width: 767px) {
              border-bottom: none;
            }

            img {
              @media all and (max-width: 991px) {
                width: 30px;
              }
              @media all and (max-width: 767px) {
                width: 40px;
              }
            }
          }
        }
      }
      //End Trust factor
      //Footer bottom content
      .footer-bottom-block {
        clear: both;
        width: 100%;
        float: left;

        .footer-bottom {
          padding: 0;
          margin-top: 35px;
          overflow: hidden;

          .icons {
            overflow: hidden;
            @media all and (max-width: 767px) {
              display: flex;
              flex-wrap: wrap;
            }

            .icon-set {
              float: right;
              display: inline-block;
            }

            .curacao-icons,
            .payment-icons,
            .share-icons {
              display: inline-block;
            }

            .share-icons {
              float: left;
              width: 74%;
              @media all and (max-width: 1500px) {
                width: 72%;
              }
              @media all and (max-width: 1400px) {
                width: 70%;
              }
              @media all and (max-width: 1300px) {
                width: 67%;
              }
              @media all and (max-width: 1204px) {
                width: 65%;
              }
              @media all and (max-width: 1150px) {
                width: 62%;
              }
              @media all and (max-width: 1065px) {
                width: 58%;
              }
              @media all and (max-width: 991px) {
                width: 100%;
                margin-bottom: 20px;
              }

              a {
                text-decoration: none;
                margin-right: 15px;
                @media all and (max-width:499px) {
                  margin-right: 10px;
                }
              }

              .social-icons {
                float: left;
                @media all and (max-width: 499px) {
                  img {
                    width: 28px;
                  }
                }
              }

              .curacao-icons {
                float: right;

                img {
                  margin-right: 15px;
                  @media all and (max-width: 991px) {
                    &:nth-child(2) {
                      margin-right: 0;
                    }
                  }
                  @media all and (max-width:499px) {
                    margin-right: 10px;
                    width: 37px;

                    &:nth-child(2) {
                      margin-right: 0;
                      width: 60px;
                    }
                  }
                }
                @media all and (max-width:479px) {}
              }
            }

            .payment-icons {
              float: right;
              @media all and (max-width: 991px) {
                width: 100%;
              }

              img {
                margin: 5px 0;
                @media all and (max-width:991px) {
                  margin: 0 0 5px;
                }
              }
            }
          }

          .disclaim {
            margin-bottom: 20px;

            p {
              font-size: 13px;
              font-family: 'iCuracao-Light';
              margin: 20px 0 0;
              color: #333333;
            }
          }
        }
      }
      //End Footer content
      //Copy right section
      .copy-right-block {
        margin: 25px 0 10px;
        width: 100%;
        border-top: solid 1px #b4b4b2;
        overflow: hidden;
        @media all and (max-width:1024px) {
          margin: 25px 0 0;
        }
        @media all and (max-width:767px) {
          border-top: none;
          margin: 25px -15px 0;
          width: ~"calc(100% + 30px)";
        }

        .copy-right-section {
          padding: 0;
          max-width: 1500px;
          margin: 0 auto;

          .policy-links {
            display: inline-block;
            float: left;
            @media all and (max-width:767px) {
              float: left;
              width: 100%;
              padding: 0 15px 10px;
              background: #e7e7e7;
            }

            p {
              margin-top: 1rem;
              font-family: 'iCuracao-Regular';
              font-size: 14px;
              color: #333333;
              @media all and (max-width:1024px) {
                margin-top: 15px;
              }
              @media all and (max-width: 479px){
                font-size:12px;
              }

              a {
                text-decoration: none;
                color: #333333;
                padding: 0 5px;
              }
            }
          }

          .copy-right-dev {
            display: inline-block;
            float: right;
            @media all and (max-width:767px) {
              float: left;
              width: 100%;
              padding: 0 15px;
            }

            p {
              margin-top: 1rem;
              font-family: 'iCuracao-Regular';
              font-size: 14px;
              color: #999999;
              @media all and (max-width:1024px) {
                margin-top: 15px;
              }
            }
          }
        }
      }
      //End Copy right section
    }
  }
}
/*Styling for Espanol*/
html[lang="es"] {
  footer.page-footer {
    .footer {
      .trust-factor-block {
        .trust-factor {
          .trust-image {
            display: flex;
            @media all and (min-width:992px){
              padding: 15px;
            }
            img{
              height:40px;
              @media all and (max-width:991px){
                width:40px;
                height: 40px;
              }
            }
            .content{
              margin-left:20px !important;
              @media all and (max-width:991px){
                margin-left:10px !important;
              }
            }
            &.trust{
              img{
                @media all and (max-width:991px){
                  width: 30px;
                  height: 40px;
                }
              }
              .content{
                @media all and (max-width:991px){
                  margin-left:20px !important;
                }
              }
            }
            &.why-shop{
              img{
                @media all and (max-width:991px){
                  height: 30px;
                }
              }
            }
          }
        }
      }

      .subscribe-block {
        .block.newsletter {
          .content {
            form {
              .newsletter {
                .control {
                  @media all and (max-width: 420px) {
                    input {
                      &:-ms-input-placeholder,
                      &::-moz-placeholder,
                      &::-webkit-input-placeholder,
                      &::placeholder {
                        font-size: 11px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
