//styling for all type of messages
.message.info,.message.error,.message.warning,.message.notice,.message.success  {
 background: white;
 border-radius: 3px;
 border: 1px solid #ebebeb;
 //box-shadow: 0 0 12px 0px @box-shadow-color;
}
