@theme-color: #97d700; //Header light green
@theme-color-dark: #81b800; //Header darkgreen
@heading-text: #000000; //Heading text
@content-text: #666666; //Content text
@footer-text: #333333; //Footer text
@active-blue-color:#4048d1;
@orange-button: #f26722;
@white: #ffffff;
@border-color:#f2f2f2;
@background-white: #fcfcfc;
@field-border: #b4b4b4;
@button-green:#7dac0f;

.customer-account-create {
  .page-wrapper {
    background-color: #fff;
    #maincontent {
      background-image: url("../images/login-background.png");
      background-color: white;
      max-width: none;
      padding: 0;
      @media all and (max-width: 599px) {
        background-image: none;
        background-color: #ffffff;
      }

      .page-title {
        display: none;
      }

      .columns {
        max-width: 1500px;
        margin: 40px auto;
        @media all and (max-width: 768px) {
          padding-top: 30px;
          padding-bottom: 30px;
          margin-bottom: 0;
        }
        @media all and (max-width: 599px) {
          margin: 0;
          padding-top: 0;
          padding-bottom: 0;
        }
        .column.main {
           max-width: 485px;
           margin: 50px auto;
           margin-bottom: 10px;
           width: 487px;
           box-shadow: 0px 3px 13px rgba(27,32,42,0.1);
           background-color: #ffffff;
           @media all and (max-width: 599px) {
             max-width: 100%;
             width: 100%;
             box-shadow: none;
             margin: 0;
           }
        }


        form.form-create-account {
          min-width: 75%;
          width: 75%;
          margin: 0 auto;
          padding-top: 40px;
          background-color: #fff;
          @media all and (max-width: 599px) and (min-width: 468px) {
            width: 65%;
          }
          @media all and (max-width: 420px) {
            width: 85%;
          }
          @media all and (max-width: 375px) {
            width: 90%;
          }

          .create.info {
            legend {
              border-bottom: none;
              text-align: center;
              color: @heading-text;
              padding-bottom: 0;
              margin-bottom: 30px;

              span {
                font-size: 28px;
                line-height: 24px;
                color: rgb(0,0,0);
                font-family: "iCuracao-Light";
                font-weight: 500;
                @media all and (max-width: 599px) {
                  font-size: 24px;
                }
              }

              &.sub-heading {
                span {
                  font-size: 16px;
                }
              }
            }
          }

          .password-strength-meter,
          label {
            display: none;
          }

          .fieldset {
            margin: 0;
            background-color: #fff;
            .field {
              margin: 0;
              padding: 3px 0;
              border-bottom: 1px solid @field-border;
              border-left: 1px solid @field-border;
              border-right: 1px solid @field-border;

              &.field-curacaocustid, &.field-name-firstname  {
                border-top: 1px solid @field-border;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
              }
              &.field-curacaocustid{
                margin-bottom: 15px;
                border-top: 1px solid @field-border;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
              }
              &.confirmation {
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
              }
              .control {
                .mage-error {
                  padding: 0 10px;
                }
              }

              label {
                display: none;
              }

              .control {
                width: 100%;

                input {
                  font-family: "iCuracao-Regular";
                  background-color: transparent;
                  border: 0;
                  padding: 5px 9px;
                  font-size: 14px;
                  color: #000;

                  &:focus {
                    outline: none;
                    box-shadow: none;
                  }

                  &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #8a8888;
                    font-family: "iCuracao-light";
                  }

                  &::-moz-placeholder {
                    /* Firefox 19+ */
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #8a8888;
                    font-family: "iCuracao-light";
                  }

                  &:-ms-input-placeholder {
                    /* IE 10+ */
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #8a8888;
                    font-family: "iCuracao-light";
                  }

                  &:-moz-placeholder {
                    /* Firefox 18- */
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #8a8888;
                    font-family: "iCuracao-light";
                  }

                }

              }

              &.note {
                display: none;
              }
            }
          }

          .checking-box {
            position: relative;
            margin-top: 25px;
            margin: 20px auto;
            text-align: center;
            &.check{
              margin: 0 0 15px 0 !important;
            }

            label {
              display: inline;
            }
            input[type="checkbox"] {
              padding: 0;
              height: initial;
              width: initial;
              margin-bottom: 0;
              display: none;
              cursor: pointer;
            }

            label {
              position: relative;
              cursor: pointer;
              transition: all 0.2s;
              font-family: 'iCuracao-Regular';
              font-size: 13px;
              color:#666;

              span {
                color: @icon-color;
                transition: all 0.2s;
              }

              &:before {
                content: '';
                -webkit-appearance: none;
                display: inline-block;
                background-color: white;
                border: 1px solid #a6a6a6;
                border-radius: 2px;
                height: 12px;
                width: 12px;
                position: relative;
                top: 2px;
                left: 0;
                margin-right: 10px;
                cursor: pointer;

              }
            }

            input[type="checkbox"]:checked {
              +label {

                &:before {
                  transition: all 0.2s;
                }

                &:after {
                  content: '';
                  position: absolute;
                  left: 4px;
                  top: 1px;
                  width: 4px;
                  height: 7px;
                  border: solid #82b800;
                  border-width: 0 3px 3px 0;
                  -webkit-transform: rotate(40deg);
                  -ms-transform: rotate(40deg);
                  transform: rotate(40deg);
                }
              }
            }
          }

          .actions-toolbar {
            margin-bottom: 0;
            height: 60px;
            .primary {
              width: 100%;

              button {
                background-color: @button-green;
                border: 1px solid @button-green;
                width: 100%;
                height: 44px;
                border-radius: 3px;
                font-size: 16px;
                margin-right: 0;
                &:hover
                {
                  background-color:@theme-color-dark;
                  border-color: @theme-color-dark;
                }
                span {
                  font-size: 16px;
                  color: white;
                  font-family: "iCuracao-Light";
                  letter-spacing: 1px;
                }
                @media all and (max-width: 460px) {
                  padding: 10px;
                  font-size: 16px;
                }
              }
            }
          }

          .sign-in-section {
            text-align: center;
            font-size: 12px;
            line-height: 24px;
            color: rgb(102,102,102);
            font-family: "iCuracao-Regular";

            a {
              color: @active-blue-color;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
.check{
  margin: 0 !important;
  text-align: left !important;
}
.choice{
  width: 160px;
}
.customer-account-logoutsuccess {
  .page-wrapper {
    #maincontent {
      background-image: url(../images/login-background.png);
      background-color: white;
      max-width: none;
      padding: 0;
      .page-title-wrapper {
        max-width: 1500px;
        margin: 0 auto;
        padding: 15px;
      }
      .page-title {
        font-family: 'iCuracao-Medium' !important;
        font-size: 22px;
        margin-top: 30px;
        @media all and (max-width: 768px) {
          font-size: 20px;
        }
        @media all and (max-width: 599px) {
          font-size: 18px;
          margin-top: 20px;
        }
      }
      .columns {
        max-width: 1500px;
        margin: 0 auto;
        padding: 15px;
        font-family: 'iCuracao-Regular' !important;
        font-size: 16px !important;
        @media all and (max-width:768px) {
          font-size: 14px !important;
        }
        p {
          margin: 10px 0;
          font-family: 'iCuracao-Regular' !important;
          font-size: 16px !important;
          @media all and (max-width:768px) {
            font-size: 14px !important;
          }
        }
      }
    }
  }
}
