<?xml version="1.0"?>
<!--
/**
 * Dyode_CheckoutDeliveryMethod Magento2 Module.
 *
 * Add a new checkout step in checkout
 *
 * @module    Dyode_CheckoutDeliveryMethod
 * @copyright Copyright © Dyode
 * @author    Rajeev K Tomy <rajeev.ktomy@dyode.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="delivery_step_config_provider" xsi:type="object">Dyode\CheckoutDeliveryMethod\Model\DeliveryConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
