<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="curacao" sortOrder="999" translate="label">
			<label>curacao</label>
		</tab>
		<section id="linkaccount" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Linkaccount</label>
			<tab>curacao</tab>
			<resource>Dyode_Apisettings::config_dyode_apisettings</resource>
			<group id="curacao" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Settings</label>
				<field id="wsdlurl" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>WSDL Url</label>
					<comment/>
				</field>
				<field id="apiurl" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>API Url</label>
					<comment/>
				</field>
				<field id="apiuser" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Username</label>
					<comment/>
				</field>
				<field id="apipass" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Password</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
