<?xml version="1.0" ?>
<!--
/**
 * @package   Dyode
 * @author    kavitha@dyode.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<adsmomentum>
				<model>Dyode\AdsMomentum\Model\Carrier\AdsMomentum</model>
				<active>0</active>
				<title>AdsMomentum</title>
				<name>AdsMomentum</name>
				<price>0.00</price>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>0</sallowspecific>
				<delivery_message>3-5 business days</delivery_message>
			</adsmomentum>
			<ups>
				<delivery_message>3-5 business day</delivery_message>
			</ups>
			<usps>
				<delivery_message>3-5 business day</delivery_message>
			</usps>
		</carriers>
	</default>
</config>
