<div class='curacao-outer'>
    <div class="linkaccount" data-bind="if: (!linked)">
        <h2><span data-bind="i18n: 'Pay with Curacao credit'"></span>
            <div class="curacao-credit-logo"></div>
        </h2>
        <div class="curacao-credit-fieldset">
            <form id="custom-checkout-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                <label for="curacao-account-id" data-bind="i18n: 'Have a curacao account?'"></label>
                <input type="number"
                       id="curacao-account-id"
                       class="input-text"
                       data-bind="attr: {placeholder: $t('Enter account number or code')},
                            value: curacaoAccountIdInpValue"
                />
                <!-- <input type="submit" name="button" data-bind="i18n: 'Link account', click: verifyCuracaoId"/> -->
                <button type="button" class="submit-button" data-bind="i18n: 'Link account', click: verifyCuracaoId">Submit</button>
            </form>
            <p data-bind="i18n: 'If you have received our pre-approved offer, enter your activation code to set up your account'"></p>
            <h3>
                <span data-bind="i18n: 'Don’t have a Curacao account?'"></span>
                <a href="#" data-bind="i18n: 'Apply Now'"></a>
            </h3>
        </div>
    </div>

    <div data-bind="if: (linked)" class="creditlimit">
        <h2><span data-bind="i18n: 'Pay with Curacao credit'"></span>
            <div class="curacao-credit-logo"></div>
        </h2>
        <div class="curacao-account-info">
            <div class="curacao-details">
                <div class="curacao-checkbox">
                    <input type="checkbox" id="curacao-pay-checkbox" name="curacao-pay" value="custom-discount"
                           data-bind='checked: ApplyDiscount'/>
                    <label class="checkbox-label" for="curacao-pay-checkbox">
                        <div class="credit-card-logo"></div>
                    </label>
                </div>
                <div class="curacao-id">
                    <div class="label"><!-- ko i18n: 'ending with XXXX ' --><!-- /ko --></div>
                    <div class="seller_content" data-bind="text: getCuracaoId()" data-content="curacaoid"></div>
                </div>
                <div class="curacao-limit">
                    <div class="label"><!-- ko i18n: 'Your available credit limit is : ' --><!-- /ko --></div>
                    <div class="seller_content" data-bind="text: getCreditLimit()" data-content="curacaolimit"></div>
                </div>
            </div>
            <div class="downpayment">
                <div class="initial-payment">
                    <div class="label"><!-- ko i18n: 'Initial Payment:' --><!-- /ko --></div>
                    <div class="seller_content" data-bind="text: getDownPayment()" data-content="curacao-payment"></div>
                </div>
                <div class="label-alert">
                    <!-- ko i18n: 'Please add another payment method for initial amount due today' --><!-- /ko --></div>
            </div>
        </div>
    </div>
</div>

<!-- ko template: curacaoAccountVerifyModalTemplate --><!-- /ko -->
