.page-main{
  /*Credit card ad*/
  .curacao-ad {
    max-width: 1500px;
    width: 100%;
    margin: 20px auto;
    margin-bottom: 0;
    @media all and (min-width: 768px) {
        margin: 40px auto;
    }
    .apply-credit-ad {
      @media all and (max-width: 767px) {
        padding: 15px 15px 0 15px;
      }
      .desktop-view {
        position: relative;
        clear: both;
        width: 100%;
        float: left;
        padding: 15px 0;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(27,32,42,0.1);
        -moz-box-shadow: 0px 0px 10px 1px rgba(27,32,42,0.1);
        box-shadow: 0px 0px 10px 1px rgba(27,32,42,0.1);
        @media all and (max-width: 767px) {
          display: none;
        }
        img {
          width: auto;
          padding-left: 20px;
          @media all and (max-width: 767px) {
            padding-left: 0;
          }
        }
      }
      .mobile-view {
        text-align: center;
        @media all and (min-width: 991px) {
          margin-bottom: 15px;
        }
        img {
          width: 100%;
        }
        @media all and (min-width: 768px) {
          display: none;
        }
      }
    }
  }
}
