"Request RMA","درخواست RMA"
"My Returns","بازگشت من"
Grid,توری
List,فهرست
All,همه
"Create RMA","ایجاد RMA"
"Request New Return","درخواست بازگشت جدید"
"Max file size: %1Mb","حداکثر اندازه فایل: %1Mb"
"New Return for Order #%1","بازگشت جدید برای سفارش #%1"
"RMA #%1","RMA #%1"
"RMA #%1 - %2","RMA #%1 - %2"
"Wrong Order #, Email or Last Name","سفارش اشتباه شماره، ایمیل یا نام خانوادگی"
Items,موارد
"To apply changes you should fill in required ""%1"" field","برای اعمال تغییرات باید فیلد مورد نیاز &quot;%1&quot; را وارد کنید"
"Please, add order items to the RMA (set 'Qty to Return')","لطفا اقلام سفارش را به RMA اضافه کنید (مجموعه &#39;تعداد به بازگشت&#39;)"
"Please, set correct order items Quantity to return","لطفا عدد سفارش صحیح را برای مقدار بازگشتی تنظیم کنید"
"RMA was successfully created","RMA موفقیت آمیز بود"
"Shipping is confirmed. Thank you!","حمل و نقل تایید شده است متشکرم!"
"Your message was successfully added","پیام شما موفقیت آمیز بوده است"
"Allowed extensions:","پسوند مجاز:"
"Maximum size:","حداکثر اندازه:"
"-- Please Select --","-- لطفا انتخاب کنید --"
" at %1 (%2)","در %1 (%2)"
"Mark as unresolved","علامت گذاری به عنوان حل نشده"
"Mark as resolved","علامت زدن به عنوان حلشده"
"not set","تنظیم نشده"
Pattern,الگو
"Attribute Value","مقدار مشخصه"
Default,"پیش فرض"
Integer,"عدد صحیح"
Price,قیمت
"Strip Tags","تگ نوار"
"Primary Attributes","ویژگی های اولیه"
"Stock Attributes","ویژگی های سهام"
"Prices & Taxes","قیمت ها و مالیات"
Images,تصاویر
"Custom Attributes","ویژگی های سفارشی"
Mapping,"نقشه برداری"
Category,"دسته بندی"
"Amasty Meta Tags","برچسب ها Amastey Meta"
"Others Attributes","دیگر ویژگی ها"
Text,متن
"Multi-line text","متن چند خطی"
Date,تاریخ
Checkbox,جعبه
"Drop-down list","لیست کشویی"
Reason,دلیل
Condition,وضعیت
Resolution,وضوح
"RMA #","RMA #"
"Order #","سفارش #"
"Customer Email","ایمیل مشتری"
"Customer Name","نام مشتری"
Owner,صاحب
"Last Replier","آخرین پوشه"
Status,وضعیت
Store,فروشگاه
"Created At","ایجاد شده در"
"Last Activity","آخرین فعالیت"
"View link","پیوند را مشاهده کنید"
"New RMA has been created","RMA جدید ایجاد شده است"
"RMA has been changed","RMA تغییر کرده است"
"New reply from customer","پاسخ جدید از مشتری"
"New reply from staff","پاسخ جدید از کارکنان"
"-- Default Address --","-- آدرس پیش فرض --"
"Update the Product","به روز رسانی محصول"
"Conditions Combination","شرایط ترکیب"
"RMA Attribute","ویژگی های RMA"
"Last 7-days Clicks","آخرین کلیک های 7 روزه"
"Last 7-days Orders","آخرین سفارشات 7 روزه"
"Last 7-days Revenue","آخرین درآمد 7 روزه"
"Last 7-days Conversation Rate (%)","آخرین نرخ 7 روزه گفتگو (٪)"
"Attribute Set","مشخصه مجموعه"
Quantity,مقدار
"Product Type","نوع محصول"
"Base Image","تصویر پایه"
Thumbnail,"بند انگشتی"
"Small Image","تصویر کوچک"
"Base Image Size (bytes)","اندازه تصویر پایه (بایت)"
"Thumbnail Size (bytes)","اندازه تصویر بند انگشتی (بایت)"
"Small Image Size (bytes)","اندازه تصویر کوچک (بایت)"
"PHP Condition","وضعیت PHP"
"Open Chooser","باز انتخاب"
"Last message body","آخرین بدن پیام"
"Updated At","به روز شده در"
"Status (before change)","وضعیت (قبل از تغییر)"
"Owner (before change)","مالک (قبل از تغییر)"
"Last Reply By","آخرین پاسخ توسط"
"Hours since Created","ساعت از زمان ایجاد شده"
"Hours since Updated","ساعت از زمان به روز رسانی"
"Hours since Last reply","ساعت از آخرین پاسخ"
"Items have reason","اقلام دلیلی دارند"
"Items have condition","اقلام شرایط دارند"
"Items have resolution","آیتم ها دارای رزولوشن هستند"
"%1 (before change)","%1 (قبل از تغییر)"
Customer,مشتری
Staff,کارکنان
"- Disable these emails -","- این ایمیل ها را غیرفعال کنید -"
Yes,بله
No,نه
Save,"صرفه جویی"
"Save & Continue Edit","ذخیره و ادامه ویرایش"
"Save & Close","ذخیره و بستن"
Edit,ویرایش
Delete,حذف
"Delete ""${ $.$data.name }""","حذف "${ $.$data.name }""
"Are you sure you wan't to delete a ""${ $.$data.name }"" record?","آیا مطمئن هستید که نمی توانید یک رکورد "${ $.$data.name }" را حذف کنید؟"
"Are you sure you want to do this?","آیا مطمئنید که می خواهید این کار را انجام دهید؟"
"Convert To Ticket","تبدیل به بلیط"
"View order #${ $.$data.order_id }","مشاهده سفارش #${ $.$data.order_id }"
"View exchange order %1","مشاهده مبادله %1"
"RMA: Report by Attribute","RMA: گزارش توسط مشخصه"
"RMA: Report by Status","RMA: گزارش وضعیت"
"RMA: Report by Product","RMA: گزارش محصول"
"RMA: Report by Reasons","RMA: گزارش توسط دلایل"
"Cannot delete return address with id %1","می توانید آدرس بازگشت با شناسه %1 را حذف کنید"
"Cannot delete item with id %1","می توانید مورد با id %1 را حذف کنید"
"Cannot delete condition with id %1","نمی توان وضعیت را با id %1 حذف کرد"
"Cannot delete field with id %1","می توانید فیلد را با id %1 حذف کنید"
"Cannot delete message with id %1","نمیتوان پیام را با id %1 حذف کرد"
"Cannot delete history with id %1","تاریخچه با id %1 حذف نمی شود"
"Cannot delete Quick Response with id %1","نمی توان پاسخ سریع با id %1 را حذف کرد"
"Cannot delete reason with id %1","نمیتوان دلیل را با id %1 حذف کرد"
"Cannot delete resolution with id %1","نمیتوان وضوح را با id %1 حذف کرد"
"Cannot delete rma with id %1","می توانید rma را با id %1 حذف کنید"
"Cannot delete rule with id %1","نمیتوان حکومت را با id %1 حذف کرد"
"Cannot delete status with id %1","نمیتوان وضعیت را با id %1 حذف کرد"
"Please, enter a message","لطفا یک پیام وارد کنید"
"Product Name","نام محصول"
SKU,SKU
Qty,تعداد
"This was a gift, please do not notify purchaser","این یک هدیه بود، لطفا به خریدار اطلاع ندهید"
"Enter your contact information","اطلاعات تماس خود را وارد کنید"
"First Name","نام کوچک"
"Last Name","نام خانوادگی"
Email,"پست الکترونیک"
Telephone,تلفن
"To request a new RMA or check the status of current RMA, please, fill the form:","برای درخواست RMA جدید یا بررسی وضعیت RMA فعلی، لطفا فرم را پر کنید:"
"* Required Fields","* فیلدهای مورد نیاز"
"Order Information","اطلاعات سفارش"
"Email or Last Name","ایمیل یا نام خانوادگی"
Next,بعد
RMA,RMA
Actions,اقدامات
"View Return","مشاهده بازگشت"
"There are no Returns","هیچ بازگشتی وجود ندارد"
"Items %1 to %2 of %3 total","اقلام %1 تا %2 از %3 مجموع"
"%1 Item(s)","%1 مورد (ها)"
Show,نمایش
"per page","در هر صفحه"
"View as","نمایش به صورت"
"Sort by","مرتب سازی بر اساس"
"Set Ascending Direction","تنظیم جهت صعودی"
"Set Descending Direction","تنظیم جهت نزولی"
"Please, select an order","لطفا یک سفارش را انتخاب کنید"
Order,سفارش
"-- Select an Order --","- انتخاب یک سفارش -"
"You have no completed orders to request RMA or your orders were placed more than %1 days ago. Please, contact customer service.","شما درخواست سفارش کامل برای درخواست RMA ندارید یا سفارشات شما بیش از %1 روز قبل قرار داده شده است. لطفا با خدمات مشتری تماس بگیرید."
"Submit Request","درخواست ثبت نام"
"Please, select RMA items which you would like to return.","لطفا اقلام RMA را که می خواهید به آن بازگردید را انتخاب کنید."
"Additional Information","اطلاعات اضافی"
"Attach files","ضمیمه فایل ها"
"Request Information","درخواست اطلاعات"
"Email Address","آدرس ایمیل"
"Order Shipping Address","سفارش آدرس حمل و نقل"
"Items in this order","اقلام در این سفارش"
"There are no items for this product that can be returned.","هیچ موردی برای این محصول وجود ندارد که بتوان آن را بازگرداند."
"Another RMA for this product: %1","یکی دیگر از RMA برای این محصول: %1"
"This product can not be returned due to RMA Policy","این محصول نمی تواند به دلیل خط مشی RMA بازگردانده شود"
"This is a non-returnable item per our return policy.","این یک مورد غیر قابل بازگشت در هر سیاست بازگشت ما است."
"Quantity to return","مقدار بازگشتی"
"-- Select a Reason --","- یک دلیل را انتخاب کنید -"
"-- Select a Condition --","- یک وضعیت را انتخاب کنید -"
"-- Select a Resolution --","- یک قطعنامه را انتخاب کنید -"
"I agree",موافقم
"Date: %1","تاریخ: %1"
"Original order: #%1","سفارش اصلی: #%1"
"Return Address","آدرس بازگشت"
"Customer Information","اطلاعات مشتری"
"RMA History","تاریخچه RMA"
"RMA Items","آیتم های RMA"
Weight,وزن
"Print RMA Packing Slip","چاپ RMA بسته بندی لغزش"
"Print RMA Shipping Label","چاپ برچسب RMA حمل و نقل"
"Confirm Shipping","تأیید حمل و نقل"
"(This was a gift)","(این یک هدیه بود)"
"Date Requested","تاریخ درخواست"
"Contact Information","اطلاعات تماس"
"Items RMA Requested for","مورد RMA درخواست شده برای"
QTY,QTY
"Add Message","اضافه کردن پیام"
Submit,ارسال
%name,٪نام
"The quantity is incorrect.","مقدار نادرست است"
"New Return for Offline Order","بازگشت جدید برای سفارش آفلاین"
" at %1","در %1"
Select,"انتخاب کنید"
"If you do not have account on this store please fill the form below.","اگر در این فروشگاه حساب ندارید، لطفا فرم زیر را پر کنید."
"-- Create Offline Order --","- ایجاد سفارش آفلاین -"
"Returned Item","مورد بازگشتی"
"Remove Item","حذف مورد"
"Order or Receipt #","سفارش یا رسید #"
"Add Item","این مورد را اضافه کنید"
"Add at least one item to this RMA","حداقل یک مورد را به این RMA اضافه کنید"
