"Request RMA","בקש RMA"
"My Returns","החזרה שלי"
Grid,רֶשֶׁת
List,רשימה
All,"את כל"
"Create RMA","צור RMA"
"Request New Return","בקש החזרה חדשה"
"Max file size: %1Mb","גודל קובץ מרבי: %1Mb"
"New Return for Order #%1","החזרה חדשה להזמנה מס &#39;1"
"RMA #%1","RMA #%1"
"RMA #%1 - %2","RMA #%1 - %2"
"Wrong Order #, Email or Last Name","הזמנה שגויה #, דוא&quot;ל או שם משפחה"
Items,פריטים
"To apply changes you should fill in required ""%1"" field","כדי להחיל שינויים עליך למלא שדה &quot;%1&quot; נדרש"
"Please, add order items to the RMA (set 'Qty to Return')","אנא, הוסף פריטים להזמנה ל- RMA (הגדר &#39;כמות להחזרה&#39;)"
"Please, set correct order items Quantity to return","בבקשה, בחר פריטים בסדר הנכון כדי לחזור"
"RMA was successfully created","RMA נוצר בהצלחה"
"Shipping is confirmed. Thank you!","המשלוח מאושר. תודה!"
"Your message was successfully added","ההודעה שלך נוספה בהצלחה"
"Allowed extensions:","תוספים מורשים:"
"Maximum size:","גודל מקסימלי:"
"-- Please Select --","-- בבקשה תבחר --"
" at %1 (%2)","ב 12__)"
"Mark as unresolved","סמן כבלתי פתור"
"Mark as resolved","סימן כפי שיוחלט"
"not set","לא מוכן"
Pattern,תַבְנִית
"Attribute Value","ערך תכונה"
Default,"בְּרִירַת מֶחדָל"
Integer,"מספר שלם"
Price,מחיר
"Strip Tags","רצועת תגיות"
"Primary Attributes","תכונות עיקריות"
"Stock Attributes","תכונות מלאי"
"Prices & Taxes","מחירים &amp; מסים"
Images,תמונות
"Custom Attributes","תכונות מותאמות אישית"
Mapping,מיפוי
Category,קטגוריה
"Amasty Meta Tags","תגיות מטא Amast"
"Others Attributes","תכונות אחרות"
Text,טֶקסט
"Multi-line text","טקסט מרובה שורות"
Date,תַאֲרִיך
Checkbox,"תיבת סימון"
"Drop-down list","רשימה נפתחת"
Reason,סיבה
Condition,מַצָב
Resolution,"פתרון הבעיה"
"RMA #","RMA #"
"Order #","להזמין #"
"Customer Email","דוא&quot;ל לקוח"
"Customer Name","שם לקוח"
Owner,בעלים
"Last Replier","תיקייה אחרונה"
Status,סטָטוּס
Store,חֲנוּת
"Created At","נוצר ב"
"Last Activity","פעילות אחרונה"
"View link","הצג קישור"
"New RMA has been created","חדש RMA נוצר"
"RMA has been changed","RMA השתנה"
"New reply from customer","תשובה חדשה מהלקוח"
"New reply from staff","תשובה חדשה מן הצוות"
"-- Default Address --","-- כתובת ברירת מחדל --"
"Update the Product","עדכן את המוצר"
"Conditions Combination","תנאים שילוב"
"RMA Attribute","תכונות RMA"
"Last 7-days Clicks","אחרון 7 ימים קליקים"
"Last 7-days Orders","7 הימים האחרונים"
"Last 7-days Revenue","אחרון 7 ימים הכנסות"
"Last 7-days Conversation Rate (%)","שיעור השיחה האחרון של 7 ימים (%)"
"Attribute Set","הגדרת תכונות"
Quantity,כַּמוּת
"Product Type","סוג המוצר"
"Base Image","תמונה בסיסית"
Thumbnail,"תמונה ממוזערת"
"Small Image","תמונה קטנה"
"Base Image Size (bytes)","גודל תמונה בסיסית (בתים)"
"Thumbnail Size (bytes)","גודל תמונה ממוזערת (בתים)"
"Small Image Size (bytes)","גודל תמונה קטן (בתים)"
"PHP Condition","תנאי PHP"
"Open Chooser","פתח את Chooser"
"Last message body","גוף ההודעה האחרונה"
"Updated At","עודכן ב"
"Status (before change)","סטטוס (לפני שינוי)"
"Owner (before change)","בעלים (לפני השינוי)"
"Last Reply By","תגובה אחרונה מאת"
"Hours since Created","שעות מאז נוצר"
"Hours since Updated","שעות מאז עודכן"
"Hours since Last reply","שעות מאז התשובה האחרונה"
"Items have reason","פריטים יש סיבה"
"Items have condition","פריטים יש מצב"
"Items have resolution","פריטים יש רזולוציה"
"%1 (before change)","%1 (לפני שינוי)"
Customer,צרכן
Staff,צוות
"- Disable these emails -","- השבת הודעות דוא&quot;ל אלה -"
Yes,כן
No,לא
Save,להציל
"Save & Continue Edit","שמור והמשך עריכה"
"Save & Close","שמור סגור"
Edit,לַעֲרוֹך
Delete,לִמְחוֹק
"Delete ""${ $.$data.name }""","מחק את "${ $.$data.name }""
"Are you sure you wan't to delete a ""${ $.$data.name }"" record?","האם אתה בטוח שאינך רוצה למחוק רשומת "${ $.$data.name }"?"
"Are you sure you want to do this?","האם אתה בטוח שברצונך לעשות זאת?"
"Convert To Ticket","המר לכרטיס"
"View order #${ $.$data.order_id }","הצג הזמנה מס &#39;${ $.$data.order_id }"
"View exchange order %1","הצג סדר חליפין %1"
"RMA: Report by Attribute","RMA: דווח על מאפיינים"
"RMA: Report by Status","RMA: דווח על ידי מצב"
"RMA: Report by Product","RMA: דוח לפי מוצר"
"RMA: Report by Reasons","RMA: דווח על סיבות"
"Cannot delete return address with id %1","לא ניתן למחוק את כתובת החזרה עם id %1"
"Cannot delete item with id %1","לא ניתן למחוק פריט עם מזהה %1"
"Cannot delete condition with id %1","לא ניתן למחוק את המצב עם מזהה %1"
"Cannot delete field with id %1","לא ניתן למחוק שדה עם מזהה %1"
"Cannot delete message with id %1","לא ניתן למחוק הודעה עם מזהה %1"
"Cannot delete history with id %1","לא ניתן למחוק היסטוריה עם מזהה %1"
"Cannot delete Quick Response with id %1","לא ניתן למחוק תגובה מהירה עם id %1"
"Cannot delete reason with id %1","לא ניתן למחוק סיבה עם מזהה %1"
"Cannot delete resolution with id %1","לא ניתן למחוק רזולוציה עם id %1"
"Cannot delete rma with id %1","לא ניתן למחוק את rma עם id %1"
"Cannot delete rule with id %1","לא ניתן למחוק כלל עם מזהה %1"
"Cannot delete status with id %1","לא ניתן למחוק סטטוס עם מזהה %1"
"Please, enter a message","אנא, הזן הודעה"
"Product Name","שם מוצר"
SKU,מק&quot;ט
Qty,כמות
"This was a gift, please do not notify purchaser","זו היתה מתנה, בבקשה לא ליידע את הרוכש"
"Enter your contact information","הזן את פרטי הקשר שלך"
"First Name","שם פרטי"
"Last Name","שם משפחה"
Email,אֶלֶקטרוֹנִי
Telephone,טֵלֵפוֹן
"To request a new RMA or check the status of current RMA, please, fill the form:","כדי לבקש RMA חדש או לבדוק את הסטטוס של RMA הנוכחי, אנא מלא את הטופס:"
"* Required Fields","* שדות חובה"
"Order Information","מידע על ההזמנה"
"Email or Last Name","דוא&quot;ל או שם משפחה"
Next,הַבָּא
RMA,RMA
Actions,פעולות
"View Return","הצג חזרה"
"There are no Returns","אין החזרות"
"Items %1 to %2 of %3 total","פריטים %1 %2 של %3 סה&quot;כ"
"%1 Item(s)","%1 פריט (ים)"
Show,לְהַצִיג
"per page",לדף
"View as","מוצג כ"
"Sort by","מיין לפי"
"Set Ascending Direction","קבע כיוון עולה"
"Set Descending Direction","קבע כיוון יורד"
"Please, select an order","בבקשה, בחר הזמנה"
Order,להזמין
"-- Select an Order --","- בחר הזמנה -"
"You have no completed orders to request RMA or your orders were placed more than %1 days ago. Please, contact customer service.","אין לך הזמנות שהושלמו כדי לבקש RMA או שההזמנות שלך הוצבו לפני יותר מ- %1 ימים. אנא צור קשר עם שירות הלקוחות."
"Submit Request","שלח בקשה"
"Please, select RMA items which you would like to return.","אנא, בחר פריטים RMA שבו אתה רוצה לחזור."
"Additional Information","מידע נוסף"
"Attach files","צרף קבצים"
"Request Information","בקשת מידע"
"Email Address","כתובת דוא&quot;ל"
"Order Shipping Address","הזמנת כתובת למשלוח"
"Items in this order","פריטים בסדר זה"
"There are no items for this product that can be returned.","אין פריטים למוצר זה שניתן להחזיר."
"Another RMA for this product: %1","עוד RMA עבור מוצר זה: %1"
"This product can not be returned due to RMA Policy","לא ניתן להחזיר מוצר זה עקב מדיניות RMA"
"This is a non-returnable item per our return policy.","זהו פריט שאינו ניתן להחזרה בהתאם למדיניות ההחזרה שלנו."
"Quantity to return","כמות לחזור"
"-- Select a Reason --","-- בחר סיבה --"
"-- Select a Condition --","- בחר תנאי -"
"-- Select a Resolution --","- בחר רזולוציה -"
"I agree","אני מסכים"
"Date: %1","תאריך: %1"
"Original order: #%1","הזמנה מקורית: #%1"
"Return Address","כתובת החזרה"
"Customer Information","מידע ללקוחות"
"RMA History","RMA היסטוריה"
"RMA Items","פריטים RMA"
Weight,מִשׁקָל
"Print RMA Packing Slip","הדפסה RMA אריזה החלקה"
"Print RMA Shipping Label","הדפס RMA תווית משלוח"
"Confirm Shipping","אשר את המשלוח"
"(This was a gift)","(זו היתה מתנה)"
"Date Requested","תאריך מבוקש"
"Contact Information","פרטי התקשרות"
"Items RMA Requested for","פריטים RMA מבוקש עבור"
QTY,QTY
"Add Message","הוסף הודעה"
Submit,שלח
%name,%שֵׁם
"The quantity is incorrect.","הכמות שגויה."
"New Return for Offline Order","החזרה חדשה עבור הזמנה לא מקוונת"
" at %1","ב 1__"
Select,בחר
"If you do not have account on this store please fill the form below.","אם אין לך חשבון בחנות זו, מלא את הטופס הבא."
"-- Create Offline Order --","- יצירת הזמנה לא מקוונת -"
"Returned Item","פריט הוחזר"
"Remove Item","הסר פריט"
"Order or Receipt #","הזמנה או קבלה #"
"Add Item","הוסף פריט"
"Add at least one item to this RMA","הוסף לפחות פריט אחד ל- RMA זה"
