"Request RMA","आरएमए का अनुरोध करें"
"My Returns","मेरी वापसी"
Grid,ग्रिड
List,सूची
All,सब
"Create RMA","आरएमए बनाएँ"
"Request New Return","नई वापसी का अनुरोध करें"
"Max file size: %1Mb","अधिकतम फ़ाइल का आकार: %1 एमबी"
"New Return for Order #%1","आदेश #%1 के लिए नई वापसी"
"RMA #%1","आरएमए #%1"
"RMA #%1 - %2","आरएमए #%1 - %2"
"Wrong Order #, Email or Last Name","गलत आदेश #, ईमेल या अंतिम नाम"
Items,आइटम
"To apply changes you should fill in required ""%1"" field","परिवर्तन लागू करने के लिए आपको आवश्यक &quot;%1&quot; फ़ील्ड भरना चाहिए"
"Please, add order items to the RMA (set 'Qty to Return')","कृपया, आरएमए को ऑर्डर आइटम जोड़ें (सेट &#39;वॉल्यूम टू रिटर्न&#39;)"
"Please, set correct order items Quantity to return","कृपया, सही ऑर्डर आइटम सेट करने के लिए मात्रा सेट करें"
"RMA was successfully created","आरएमए सफलतापूर्वक बनाया गया था"
"Shipping is confirmed. Thank you!","शिपिंग की पुष्टि की गई है। धन्यवाद!"
"Your message was successfully added","आपका संदेश सफलतापूर्वक जोड़ा गया था"
"Allowed extensions:","अनुमत एक्सटेंशन:"
"Maximum size:","अधिकतम आकार:"
"-- Please Select --","-- कृपया चुने --"
" at %1 (%2)","बारह बजे__)"
"Mark as unresolved","अनसुलझा के रूप में चिह्नित करें"
"Mark as resolved","सुलझा हुआ चिन्हित करना"
"not set","सेट नहीं"
Pattern,पैटर्न
"Attribute Value","मान बताइए"
Default,चूक
Integer,पूर्णांक
Price,मूल्य
"Strip Tags","पट्टी टैग"
"Primary Attributes","प्राथमिक गुण"
"Stock Attributes","स्टॉक गुण"
"Prices & Taxes","कीमतें और कर"
Images,इमेजिस
"Custom Attributes","कस्टम विशेषताएं"
Mapping,मानचित्रण
Category,वर्ग
"Amasty Meta Tags","अमीर मेटा टैग"
"Others Attributes","अन्य गुण"
Text,टेक्स्ट
"Multi-line text","मल्टी लाइन टेक्स्ट"
Date,तारीख
Checkbox,चेकबॉक्स
"Drop-down list","ड्राॅप डाउन लिस्ट"
Reason,कारण
Condition,शर्त
Resolution,संकल्प
"RMA #","आरएमए #"
"Order #","आदेश #"
"Customer Email","ग्राहक ईमेल"
"Customer Name","ग्राहक का नाम"
Owner,मालिक
"Last Replier","अंतिम फ़ोल्डर"
Status,स्थिति
Store,दुकान
"Created At","पर बनाया गया"
"Last Activity","आख़िरी गतिविधि"
"View link","लिंक देखें"
"New RMA has been created","नया आरएमए बनाया गया है"
"RMA has been changed","आरएमए बदल दिया गया है"
"New reply from customer","ग्राहक से नया जवाब"
"New reply from staff","कर्मचारियों से नया जवाब"
"-- Default Address --","-- डिफ़ॉल्ट पता --"
"Update the Product","उत्पाद अद्यतन करें"
"Conditions Combination","शर्तें संयोजन"
"RMA Attribute","आरएमए विशेषताएँ"
"Last 7-days Clicks","पिछले 7 दिनों के क्लिक"
"Last 7-days Orders","पिछले 7 दिनों के आदेश"
"Last 7-days Revenue","पिछले 7 दिनों के राजस्व"
"Last 7-days Conversation Rate (%)","पिछले 7-दिनों की बातचीत दर (%)"
"Attribute Set","विशेषता सेट करें"
Quantity,मात्रा
"Product Type","उत्पाद प्रकार"
"Base Image","आधार छवि"
Thumbnail,थंबनेल
"Small Image","छोटी छवि"
"Base Image Size (bytes)","आधार छवि का आकार (बाइट्स)"
"Thumbnail Size (bytes)","थंबनेल आकार (बाइट्स)"
"Small Image Size (bytes)","छोटे छवि आकार (बाइट्स)"
"PHP Condition","PHP हालत"
"Open Chooser","खुला चयनकर्ता"
"Last message body","अंतिम संदेश शरीर"
"Updated At","अपडेट किया गया"
"Status (before change)","स्थिति (परिवर्तन से पहले)"
"Owner (before change)","मालिक (परिवर्तन से पहले)"
"Last Reply By","अंतिम जवाब द्वारा"
"Hours since Created","बनाया गया समय के बाद से"
"Hours since Updated","अद्यतन के बाद से घंटे"
"Hours since Last reply","अंतिम उत्तर के बाद के घंटे"
"Items have reason","वस्तुओं का कारण है"
"Items have condition","वस्तुओं की स्थिति है"
"Items have resolution","आइटम संकल्प है"
"%1 (before change)","%1 (परिवर्तन से पहले)"
Customer,ग्राहक
Staff,कर्मचारी
"- Disable these emails -","- इन ईमेल को अक्षम करें -"
Yes,हाँ
No,नहीं
Save,बचाना
"Save & Continue Edit","सहेजें और संपादित करें जारी रखें"
"Save & Close","सहेजे बंद करें"
Edit,"संपादित करें"
Delete,हटाना
"Delete ""${ $.$data.name }""",""${ $.$data.name }" हटाएं"
"Are you sure you wan't to delete a ""${ $.$data.name }"" record?","क्या आप वाकई "${ $.$data.name }" रिकॉर्ड को हटाना नहीं चाहते हैं?"
"Are you sure you want to do this?","क्या आप वास्तव में इसे करना चाहते हैं?"
"Convert To Ticket","टिकट में कनवर्ट करें"
"View order #${ $.$data.order_id }","ऑर्डर #${ $.$data.order_id } देखें"
"View exchange order %1","एक्सचेंज ऑर्डर %1 देखें"
"RMA: Report by Attribute","आरएमए: विशेषता द्वारा रिपोर्ट करें"
"RMA: Report by Status","आरएमए: स्थिति द्वारा रिपोर्ट करें"
"RMA: Report by Product","आरएमए: उत्पाद द्वारा रिपोर्ट करें"
"RMA: Report by Reasons","आरएमए: कारणों से रिपोर्ट करें"
"Cannot delete return address with id %1","आईडी %1 के साथ वापसी पता हटा नहीं सकता"
"Cannot delete item with id %1","आईडी %1 के साथ आइटम को हटा नहीं सकता"
"Cannot delete condition with id %1","आईडी %1 के साथ स्थिति को हटा नहीं सकता"
"Cannot delete field with id %1","आईडी %1 के साथ फ़ील्ड को हटा नहीं सकता"
"Cannot delete message with id %1","आईडी %1 के साथ संदेश हटा नहीं सकता"
"Cannot delete history with id %1","आईडी %1 के साथ इतिहास हटा नहीं सकता"
"Cannot delete Quick Response with id %1","आईडी %1 के साथ त्वरित प्रतिक्रिया को हटा नहीं सकता"
"Cannot delete reason with id %1","आईडी %1 के साथ कारण हटा नहीं सकता"
"Cannot delete resolution with id %1","आईडी %1 के साथ संकल्प को हटा नहीं सकता"
"Cannot delete rma with id %1","आईडी %1 के साथ आरएमए को हटा नहीं सकता"
"Cannot delete rule with id %1","आईडी %1 के साथ नियम हटा नहीं सकता"
"Cannot delete status with id %1","आईडी %1 के साथ स्थिति को हटा नहीं सकता"
"Please, enter a message","कृपया एक संदेश दर्ज करें"
"Product Name","उत्पाद का नाम"
SKU,SKU
Qty,मात्रा
"This was a gift, please do not notify purchaser","यह एक उपहार था, कृपया क्रेता को सूचित न करें"
"Enter your contact information","अपनी संपर्क जानकारी दर्ज करें"
"First Name","पहला नाम"
"Last Name","अंतिम नाम"
Email,ईमेल
Telephone,टेलीफोन
"To request a new RMA or check the status of current RMA, please, fill the form:","एक नए आरएमए का अनुरोध करने या वर्तमान आरएमए की स्थिति की जांच करने के लिए, कृपया फॉर्म भरें:"
"* Required Fields","* आवश्यक फील्ड्स"
"Order Information","आदेश की जानकारी"
"Email or Last Name","ईमेल या अंतिम नाम"
Next,आगामी
RMA,आरएमए
Actions,क्रिया
"View Return","वापसी देखें"
"There are no Returns","कोई रिटर्न नहीं है"
"Items %1 to %2 of %3 total","%3 कुल के %1 से %2 आइटम"
"%1 Item(s)","%1 आइटम (ओं)"
Show,प्रदर्शन
"per page","प्रति पृष्ठ"
"View as","के रूप में देखें"
"Sort by","इसके अनुसार क्रमबद्ध करें"
"Set Ascending Direction","आरोही दिशा निर्धारित करें"
"Set Descending Direction","अवरोही दिशा निर्धारित करें"
"Please, select an order","कृपया, एक ऑर्डर का चयन करें"
Order,क्रम
"-- Select an Order --","- एक ऑर्डर का चयन करें -"
"You have no completed orders to request RMA or your orders were placed more than %1 days ago. Please, contact customer service.","आपके पास आरएमए का अनुरोध करने के लिए कोई पूरा आदेश नहीं है या आपके आदेश %1 दिन पहले से अधिक रखे गए थे। कृपया, ग्राहक सेवा से संपर्क करें।"
"Submit Request","अनुरोध प्रस्तुत करें"
"Please, select RMA items which you would like to return.","कृपया, आरएमए आइटम का चयन करें जिसे आप वापस करना चाहते हैं।"
"Additional Information","अतिरिक्त जानकारी"
"Attach files","फ़ाइल संलग्न करें"
"Request Information","जानकारी का आग्रह"
"Email Address","ईमेल पता"
"Order Shipping Address","आदेश शिपिंग पता"
"Items in this order","इस क्रम में आइटम"
"There are no items for this product that can be returned.","इस उत्पाद के लिए कोई आइटम नहीं है जिसे वापस किया जा सकता है।"
"Another RMA for this product: %1","इस उत्पाद के लिए एक और आरएमए: %1"
"This product can not be returned due to RMA Policy","आरएमए नीति के कारण यह उत्पाद वापस नहीं किया जा सकता है"
"This is a non-returnable item per our return policy.","यह हमारी वापसी नीति प्रति गैर-वापसी योग्य वस्तु है।"
"Quantity to return","वापसी करने के लिए मात्रा"
"-- Select a Reason --","-- कोई कारण चुनें --"
"-- Select a Condition --","- एक शर्त का चयन करें -"
"-- Select a Resolution --","- एक संकल्प का चयन करें -"
"I agree","मैं सहमत हूँ"
"Date: %1","तिथि: %1"
"Original order: #%1","मूल आदेश: #%1"
"Return Address","वापसी का पता"
"Customer Information","ग्राहक सूचना"
"RMA History","आरएमए इतिहास"
"RMA Items","आरएमए आइटम"
Weight,वजन
"Print RMA Packing Slip","आरएमए पैकिंग पर्ची प्रिंट करें"
"Print RMA Shipping Label","आरएमए शिपिंग लेबल प्रिंट करें"
"Confirm Shipping","शिपिंग की पुष्टि करें"
"(This was a gift)","(यह एक उपहार था)"
"Date Requested","अनुरोधित दिनांक"
"Contact Information","संपर्क जानकारी"
"Items RMA Requested for","आइटम आरएमए के लिए अनुरोध किया"
QTY,मात्रा
"Add Message","संदेश जोड़ें"
Submit,"जमा करें"
%name,"% नाम"
"The quantity is incorrect.","मात्रा गलत है।"
"New Return for Offline Order","ऑफलाइन ऑर्डर के लिए नई वापसी"
" at %1","1 पर__"
Select,"चुनते हैं"
"If you do not have account on this store please fill the form below.","अगर आपके पास इस स्टोर पर खाता नहीं है तो कृपया नीचे दिया गया फॉर्म भरें।"
"-- Create Offline Order --","- ऑफ़लाइन ऑर्डर बनाएं -"
"Returned Item","वापसी आइटम"
"Remove Item","वस्तु निकालो"
"Order or Receipt #","आदेश या रसीद #"
"Add Item","सामान जोडें"
"Add at least one item to this RMA","इस आरएमए में कम से कम एक आइटम जोड़ें"
