"Request RMA","Yêu cầu RMA"
"My Returns","Lợi nhuận của tôi"
Grid,Lưới
List,"Danh sách"
All,"Tất cả các"
"Create RMA","Tạo RMA"
"Request New Return","Yêu cầu trả lại mới"
"Max file size: %1Mb","Kích thước tệp tối đa: %1Mb"
"New Return for Order #%1","Trở lại mới cho đơn hàng #%1"
"RMA #%1","RMA #%1"
"RMA #%1 - %2","RMA #%1 - %2"
"Wrong Order #, Email or Last Name","Sai thứ tự, email hoặc họ"
Items,"Mặt hàng"
"To apply changes you should fill in required ""%1"" field","Để áp dụng các thay đổi, bạn nên điền vào trường &quot;%1&quot; bắt buộc"
"Please, add order items to the RMA (set 'Qty to Return')","Vui lòng, thêm các mục đặt hàng vào RMA (đặt &#39;Số lượng để trả lại&#39;)"
"Please, set correct order items Quantity to return","Xin vui lòng, thiết lập đúng thứ tự các mặt hàng số lượng để trở lại"
"RMA was successfully created","RMA đã được tạo thành công"
"Shipping is confirmed. Thank you!","Vận chuyển được xác nhận. Cảm ơn bạn!"
"Your message was successfully added","Tin nhắn của bạn đã được thêm thành công"
"Allowed extensions:","Tiện ích mở rộng được phép:"
"Maximum size:","Kích thước tối đa:"
"-- Please Select --","-- Vui lòng chọn --"
" at %1 (%2)","ở tuổi 12__)"
"Mark as unresolved","Đánh dấu là chưa được giải quyết"
"Mark as resolved","Đánh dấu là đã giải quyết"
"not set","không được thiết lập"
Pattern,Mẫu
"Attribute Value","Giá trị thuộc tính"
Default,"Mặc định"
Integer,"Số nguyên"
Price,"Giá bán"
"Strip Tags","Thẻ dải"
"Primary Attributes","Thuộc tính chính"
"Stock Attributes","Thuộc tính chứng khoán"
"Prices & Taxes","Giá &amp; Thuế"
Images,"Hình ảnh"
"Custom Attributes","Thuộc tính tùy chỉnh"
Mapping,"Ánh xạ"
Category,"Thể loại"
"Amasty Meta Tags","Thẻ Meta Amasty"
"Others Attributes","Thuộc tính khác"
Text,"Bản văn"
"Multi-line text","Văn bản nhiều dòng"
Date,Ngày
Checkbox,"Hộp kiểm"
"Drop-down list","Danh sách thả xuống"
Reason,"Lý do"
Condition,"Điều kiện"
Resolution,"Độ phân giải"
"RMA #","RMA #"
"Order #","Gọi món #"
"Customer Email","Email của khách hàng"
"Customer Name","Tên khách hàng"
Owner,"Chủ nhân"
"Last Replier","Thư mục cuối cùng"
Status,"Trạng thái"
Store,"Cửa hàng"
"Created At","Được tạo lúc"
"Last Activity","Hoạt động cuối"
"View link","Xem liên kết"
"New RMA has been created","RMA mới đã được tạo"
"RMA has been changed","RMA đã được thay đổi"
"New reply from customer","Câu trả lời mới từ khách hàng"
"New reply from staff","Câu trả lời mới từ nhân viên"
"-- Default Address --","-- Địa chỉ mặc định --"
"Update the Product","Cập nhật sản phẩm"
"Conditions Combination","Điều kiện kết hợp"
"RMA Attribute","Thuộc tính RMA"
"Last 7-days Clicks","Nhấp chuột 7 ngày qua"
"Last 7-days Orders","Đơn đặt hàng 7 ngày qua"
"Last 7-days Revenue","Doanh thu 7 ngày qua"
"Last 7-days Conversation Rate (%)","Tỷ lệ cuộc trò chuyện 7 ngày qua (%)"
"Attribute Set","Tập hợp thuộc tính"
Quantity,"Số lượng"
"Product Type","Loại sản phẩm"
"Base Image","Hình ảnh cơ sở"
Thumbnail,"Hình nhỏ"
"Small Image","Hình ảnh nhỏ"
"Base Image Size (bytes)","Kích thước hình ảnh cơ sở (byte)"
"Thumbnail Size (bytes)","Kích thước hình thu nhỏ (byte)"
"Small Image Size (bytes)","Kích thước hình ảnh nhỏ (byte)"
"PHP Condition","Điều kiện PHP"
"Open Chooser","Mở Trình chọn"
"Last message body","Nội dung tin nhắn cuối cùng"
"Updated At","Cập nhật tại"
"Status (before change)","Trạng thái (trước khi thay đổi)"
"Owner (before change)","Chủ sở hữu (trước khi thay đổi)"
"Last Reply By","Trả lời cuối cùng theo"
"Hours since Created","Số giờ kể từ khi được tạo"
"Hours since Updated","Số giờ kể từ khi được cập nhật"
"Hours since Last reply","Số giờ kể từ trả lời cuối cùng"
"Items have reason","Mục có lý do"
"Items have condition","Các mặt hàng có điều kiện"
"Items have resolution","Mặt hàng có độ phân giải"
"%1 (before change)","%1 (trước khi thay đổi)"
Customer,"Khách hàng"
Staff,"Cán bộ"
"- Disable these emails -","- Vô hiệu hóa các email này -"
Yes,Vâng
No,Không
Save,"Tiết kiệm"
"Save & Continue Edit","Lưu &amp; Tiếp tục sửa"
"Save & Close","Lưu &amp; Đóng"
Edit,"Chỉnh sửa"
Delete,"Xóa bỏ"
"Delete ""${ $.$data.name }""","Xóa "${ $.$data.name }""
"Are you sure you wan't to delete a ""${ $.$data.name }"" record?","Bạn có chắc chắn không muốn xóa bản ghi "${ $.$data.name }" không?"
"Are you sure you want to do this?","Bạn có chắc chắn muốn làm điều này?"
"Convert To Ticket","Chuyển đổi thành vé"
"View order #${ $.$data.order_id }","Xem đơn hàng số ${ $.$data.order_id }"
"View exchange order %1","Xem đơn đặt hàng trao đổi %1"
"RMA: Report by Attribute","RMA: Báo cáo theo thuộc tính"
"RMA: Report by Status","RMA: Báo cáo theo trạng thái"
"RMA: Report by Product","RMA: Báo cáo theo sản phẩm"
"RMA: Report by Reasons","RMA: Báo cáo theo lý do"
"Cannot delete return address with id %1","Không thể xóa địa chỉ trả lại có id %1"
"Cannot delete item with id %1","Không thể xóa mục có id %1"
"Cannot delete condition with id %1","Không thể xóa điều kiện có id %1"
"Cannot delete field with id %1","Không thể xóa trường có id %1"
"Cannot delete message with id %1","Không thể xóa tin nhắn có id %1"
"Cannot delete history with id %1","Không thể xóa lịch sử có id %1"
"Cannot delete Quick Response with id %1","Không thể xóa Trả lời nhanh với id %1"
"Cannot delete reason with id %1","Không thể xóa lý do có id %1"
"Cannot delete resolution with id %1","Không thể xóa độ phân giải có id %1"
"Cannot delete rma with id %1","Không thể xóa rma có id %1"
"Cannot delete rule with id %1","Không thể xóa quy tắc có id %1"
"Cannot delete status with id %1","Không thể xóa trạng thái có id %1"
"Please, enter a message","Vui lòng nhập tin nhắn"
"Product Name","Tên sản phẩm"
SKU,SKU
Qty,"Số lượng"
"This was a gift, please do not notify purchaser","Đây là một món quà, xin vui lòng không thông báo cho người mua"
"Enter your contact information","Nhập thông tin liên hệ của bạn"
"First Name","Tên đầu tiên"
"Last Name",Họ
Email,E-mail
Telephone,"Điện thoại"
"To request a new RMA or check the status of current RMA, please, fill the form:","Để yêu cầu RMA mới hoặc kiểm tra trạng thái của RMA hiện tại, vui lòng điền vào biểu mẫu:"
"* Required Fields","* Phần bắt buộc"
"Order Information","Thông tin đặt hàng"
"Email or Last Name","Email hoặc họ"
Next,"Kế tiếp"
RMA,RMA
Actions,"Hành động"
"View Return","Xem trả lại"
"There are no Returns","Không có lợi nhuận"
"Items %1 to %2 of %3 total","Các mục %1 đến %2 trong tổng số %3"
"%1 Item(s)","%1 Sản phẩm"
Show,Chỉ
"per page","trên mỗi trang"
"View as","Xem dưới dạng"
"Sort by","Sắp xếp theo"
"Set Ascending Direction","Đặt hướng tăng dần"
"Set Descending Direction","Đặt hướng giảm dần"
"Please, select an order","Vui lòng chọn một đơn đặt hàng"
Order,"Gọi món"
"-- Select an Order --","- Chọn một đơn đặt hàng -"
"You have no completed orders to request RMA or your orders were placed more than %1 days ago. Please, contact customer service.","Bạn không có đơn đặt hàng đã hoàn thành nào để yêu cầu RMA hoặc đơn đặt hàng của bạn được đặt cách đây hơn %1 ngày. Xin vui lòng liên hệ với dịch vụ khách hàng."
"Submit Request","Gửi lời đề nghị"
"Please, select RMA items which you would like to return.","Vui lòng chọn các mục RMA mà bạn muốn trả lại."
"Additional Information","Thông tin thêm"
"Attach files","Đính kèm tệp"
"Request Information","Yêu cầu thông tin"
"Email Address","Địa chỉ email"
"Order Shipping Address","Địa chỉ giao hàng"
"Items in this order","Các mục theo thứ tự này"
"There are no items for this product that can be returned.","Không có mục nào cho sản phẩm này có thể được trả lại."
"Another RMA for this product: %1","RMA khác cho sản phẩm này: %1"
"This product can not be returned due to RMA Policy","Không thể trả lại sản phẩm này do Chính sách RMA"
"This is a non-returnable item per our return policy.","Đây là một mặt hàng không thể trả lại theo chính sách hoàn trả của chúng tôi."
"Quantity to return","Số lượng cần trả lại"
"-- Select a Reason --","-- Chọn một lí do --"
"-- Select a Condition --","- Chọn điều kiện -"
"-- Select a Resolution --","- Chọn độ phân giải -"
"I agree","Tôi đồng ý"
"Date: %1","Ngày: %1"
"Original order: #%1","Đơn hàng ban đầu: #%1"
"Return Address","Địa chỉ trả lại"
"Customer Information","Thông tin khách hàng"
"RMA History","Lịch sử RMA"
"RMA Items","Mục RMA"
Weight,"Cân nặng"
"Print RMA Packing Slip","In phiếu đóng gói RMA"
"Print RMA Shipping Label","In nhãn vận chuyển RMA"
"Confirm Shipping","Xác nhận giao hàng"
"(This was a gift)","(Đây là một món quà)"
"Date Requested","Ngày yêu cầu"
"Contact Information","Thông tin liên lạc"
"Items RMA Requested for","Các mục RMA đã yêu cầu"
QTY,QTY
"Add Message","Thêm thông điệp"
Submit,"Gửi đi"
%name,%Tên
"The quantity is incorrect.","Số lượng không chính xác."
"New Return for Offline Order","Trở lại mới cho đơn đặt hàng ngoại tuyến"
" at %1","tại %1"
Select,"Lựa chọn"
"If you do not have account on this store please fill the form below.","Nếu bạn không có tài khoản trên cửa hàng này, vui lòng điền vào mẫu dưới đây."
"-- Create Offline Order --","- Tạo thứ tự ngoại tuyến -"
"Returned Item","Mục trả lại"
"Remove Item","Loại bỏ mục"
"Order or Receipt #","Đơn đặt hàng hoặc biên lai #"
"Add Item","Thêm mục"
"Add at least one item to this RMA","Thêm ít nhất một mục vào RMA này"
