* {
  box-sizing: border-box;
}
.sidebar-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: calc(100% - 81px);
  top:81px;
  left: -100%;
  position: absolute;
  width: 100%;
  z-index: 99;
}
nav.sidebar {
  background: #fff;
  color: #000;
  height: calc(100% - 81px);
  top: 81px;
  left: -50%;
  margin: 0;
  position: absolute;
  width: 250px;
  z-index:100;
  -webkit-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -moz-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
nav.sidebar .sidebar-container {
  position: relative;
  background-color: #82b800;
  padding: 14.5px 0;
  padding-left:25px;
  color: #fff;
}
nav.sidebar .sidebar-container h2 {
  margin: 0;
  font-family: "iCuracao-Regular";
  font-size:19px;
  font-weight:600;
}
nav.sidebar .sidebar-container .sidebar__btn-close {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 20px;
}
nav.sidebar .sidebar-container .sidebar__btn-close:before{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    content: '\e616';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
nav.sidebar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top:20px;
}
nav.sidebar > ul > li {
  padding: 10px;
  padding-left:25px;
  margin-bottom: 0;
}
nav.sidebar > ul > li > a {
  color: #000;
  font-family: "iCuracao-Regular";
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
nav.sidebar > ul > li > a:hover {
  text-decoration: none;
  color:#575757;
}
nav.sidebar > ul > li.hamburger-link-border {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
}
.hamburger-desktop nav.sidebar > ul > li.hamburger-language a{
  color: #575757;
}
.hamburger-desktop nav.sidebar > ul > li.hamburger-language a img{
  width:15px;
  height:15px;
  margin-right: 10px;
}
nav.sidebar > ul > li.hamburger-heading a {
  text-transform: uppercase;
  color: #989898;
}
  .btn-menu {
  position: absolute;
  left: 20px;
  top: 113px;
  z-index:9;
  background: transparent !important;
  font-size: 20px;
  border: none !important;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
  padding: 10px 15px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.btn-menu::before{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
  line-height: 26px;
  color: #fff;
  content: '\e609';
  font-family: 'luma-icons';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media all and (max-width:1024px){
  .hamburger-desktop .btn-menu{
    display: none !important;
  }
  .hamburger-desktop nav.sidebar{
    position:static;
    width:auto;
    height:auto;
  }
  .hamburger-desktop nav.sidebar .sidebar-container{
    display: none;
  }
  .hamburger-desktop nav.sidebar > ul{
    margin-top:0;
  }
  .hamburger-desktop nav.sidebar > ul > li{
    height:50px;
    padding: 14px 10px;
    border-top: 1px solid #d1d1d1;
    border-top-color: rgba(0, 0, 0, 0.08);
  }
  .hamburger-desktop nav.sidebar > ul > li > a{
    font-family: "iCuracao-Regular";
    color:#575757;
    font-size:14px;
  }
  .hamburger-desktop nav.sidebar > ul > li.hamburger-link-border {
    border-bottom: none;
  }
  .hamburger-desktop nav.sidebar > ul > li.hamburger-heading a {
    text-transform: uppercase;
    color: #989898;
  }
  nav.sidebar > ul > li > a:hover {
    text-decoration: none;
    color:#575757;
  }
}
@media all and (max-width:599px){
  .hamburger-desktop nav.sidebar > ul > li{
    padding: 15px 10px;
  }
}
